la-d365-environment-request-response.json
{
  "accessEndpoint": "https://prod-60.northeurope.logic.azure.com:443/workflows/a39add57cebe447da19c76380ec36ed3",
  "changedTime": "2025-11-21T17:19:31.7390254Z",
  "createdTime": "2025-11-17T11:25:43.4750109Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Check_If_Already_Processed": {
        "actions": {
          "Response_Already_Processed": {
            "inputs": {
              "body": "<!DOCTYPE html><html><head><meta charset='UTF-8'><title>Already Processed</title><meta http-equiv='refresh' content='3;url=https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests'><style>body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:700px;margin:50px auto;padding:30px;background:#f5f5f5;text-align:center}.container{background:white;padding:40px;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.info{color:#0078d4;font-size:64px;margin-bottom:20px}h1{color:#0078d4}p{font-size:18px;color:#333}</style></head><body><div class='container'><div class='info'></div><h1>Already Processed</h1><p>This request has already been processed.</p><p style='color:#666;margin-top:30px;font-size:14px'>Redirecting in 3 seconds...</p></div></body></html>",
              "headers": {
                "Content-Type": "text/html; charset=utf-8"
              },
              "statusCode": 200
            },
            "type": "Response"
          }
        },
        "else": {
          "actions": {
            "Check_Action_Type": {
              "actions": {
                "Check_IP_Available": {
                  "actions": {
                    "Mark_IP_In_Use": {
                      "inputs": {
                        "body": {
                          "Status": {
                            "Value": "In Use"
                          },
                          "VNetName": "lebara-@{toLower(body('Refresh_Item')?['EnvironmentType']?['Value'])}-@{toLower(body('Refresh_Item')?['Title'])}-vnet"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('b864f5bd-6b72-4520-add6-6ed56c7f4782'))}/items/@{encodeURIComponent(first(body('Filter_Available_IPs'))?['ID'])}"
                      },
                      "type": "ApiConnection"
                    },
                    "Update_Request_Ready_For_Deployment": {
                      "inputs": {
                        "body": {
                          "Allocated_x0020_IP_x0020_Address": "@first(body('Filter_Available_IPs'))?['Title']",
                          "Deployment_x0020_Status": {
                            "Value": "Ready for Deployment"
                          },
                          "VNet_x0020_Name": "lebara-@{toLower(body('Refresh_Item')?['EnvironmentType']?['Value'])}-@{toLower(body('Refresh_Item')?['Title'])}-vnet"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                      },
                      "runAfter": {
                        "Mark_IP_In_Use": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection"
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_Available_IPs'))",
                          0
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Filter_Available_IPs": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "Filter_Available_IPs": {
                  "inputs": {
                    "from": "@body('Get_IP_Pool')?['value']",
                    "where": "@equals(item()?['Status']?['Value'], 'Available')"
                  },
                  "runAfter": {
                    "Get_IP_Pool": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query"
                },
                "Get_IP_Pool": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('b864f5bd-6b72-4520-add6-6ed56c7f4782'))}/items"
                  },
                  "runAfter": {
                    "Refresh_Item": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Refresh_Item": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                  },
                  "runAfter": {
                    "Response_Accepted": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Response_Accepted": {
                  "inputs": {
                    "body": "<!DOCTYPE html><html><head><meta charset='UTF-8'><title>Request Approved</title><meta http-equiv='refresh' content='5;url=https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests'><style>body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:700px;margin:50px auto;padding:30px;background:#f5f5f5;text-align:center}.container{background:white;padding:40px;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.success{color:#28a745;font-size:64px;margin-bottom:20px}h1{color:#28a745}p{font-size:18px;color:#333}.spinner{border:8px solid #f3f3f3;border-top:8px solid #28a745;border-radius:50%;width:60px;height:60px;animation:spin 1s linear infinite;margin:30px auto}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}</style></head><body><div class='container'><div class='success'></div><h1>Request Approved!</h1><p>Network provisioning has started.</p><div class='spinner'></div><p style='color:#666;margin-top:30px;font-size:14px'>Redirecting in 5 seconds...</p></div></body></html>",
                    "headers": {
                      "Content-Type": "text/html; charset=utf-8"
                    },
                    "statusCode": 200
                  },
                  "runAfter": {
                    "Update_Status_To_Approved": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response"
                },
                "Update_Status_To_Approved": {
                  "inputs": {
                    "body": {
                      "Approved_x0020_By": "@triggerOutputs()['queries']?['approverName']",
                      "Approved_x0020_Date": "@utcNow()",
                      "Status": {
                        "Value": "Approved"
                      }
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "patch",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                  },
                  "type": "ApiConnection"
                }
              },
              "else": {
                "actions": {
                  "Response_Rejected": {
                    "inputs": {
                      "body": "<!DOCTYPE html><html><head><meta charset='UTF-8'><title>Request Rejected</title><meta http-equiv='refresh' content='3;url=https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests'><style>body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:700px;margin:50px auto;padding:30px;background:#f5f5f5;text-align:center}.container{background:white;padding:40px;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.error{color:#dc3545;font-size:64px}h1{color:#dc3545}p{font-size:18px;color:#333}</style></head><body><div class='container'><div class='error'></div><h1>Request Rejected</h1><p>The request has been rejected.</p><p style='color:#666;margin-top:30px;font-size:14px'>Redirecting in 3 seconds...</p></div></body></html>",
                      "headers": {
                        "Content-Type": "text/html; charset=utf-8"
                      },
                      "statusCode": 200
                    },
                    "runAfter": {
                      "Update_Status_To_Rejected": [
                        "Succeeded"
                      ]
                    },
                    "type": "Response"
                  },
                  "Update_Status_To_Rejected": {
                    "inputs": {
                      "body": {
                        "Approved_x0020_By": "@triggerOutputs()['queries']?['approverName']",
                        "Approved_x0020_Date": "@utcNow()",
                        "Status": {
                          "Value": "Rejected"
                        }
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                      },
                      "method": "patch",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                    },
                    "type": "ApiConnection"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()['queries']?['action']",
                  "approve"
                ]
              },
              "type": "If"
            }
          }
        },
        "expression": {
          "not": {
            "equals": [
              "@body('Get_SharePoint_Item')?['Status']?['Value']",
              "Pending Approval"
            ]
          }
        },
        "runAfter": {
          "Get_SharePoint_Item": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Get_SharePoint_Item": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
        },
        "runAfter": {},
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "method": "GET",
          "schema": {
            "properties": {
              "action": {
                "type": "string"
              },
              "approverEmail": {
                "type": "string"
              },
              "approverName": {
                "type": "string"
              },
              "itemId": {
                "type": "string"
              }
            },
            "required": [
              "itemId",
              "action"
            ],
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.178.150.68"
        },
        {
          "address": "94.245.91.93"
        },
        {
          "address": "13.69.227.208/28"
        },
        {
          "address": "13.69.231.192/27"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.82.246.112/28"
        },
        {
          "address": "52.146.138.32/27"
        },
        {
          "address": "20.82.226.52"
        },
        {
          "address": "20.82.224.59"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.93.81.75"
        },
        {
          "address": "20.82.159.224"
        },
        {
          "address": "20.82.226.163"
        },
        {
          "address": "20.82.225.129"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "40.67.252.16"
        },
        {
          "address": "4.207.0.242"
        },
        {
          "address": "4.207.204.28"
        },
        {
          "address": "4.207.203.201"
        },
        {
          "address": "20.67.143.247"
        },
        {
          "address": "20.67.138.43"
        },
        {
          "address": "68.219.40.237"
        },
        {
          "address": "20.105.14.98"
        },
        {
          "address": "4.207.203.15"
        },
        {
          "address": "4.207.204.121"
        },
        {
          "address": "4.207.201.247"
        },
        {
          "address": "20.107.145.46"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "40.127.240.183"
        },
        {
          "address": "51.138.227.160"
        },
        {
          "address": "40.127.144.121"
        },
        {
          "address": "40.67.251.175"
        },
        {
          "address": "40.67.250.247"
        },
        {
          "address": "4.207.0.229"
        },
        {
          "address": "4.207.0.197"
        },
        {
          "address": "4.207.204.8"
        },
        {
          "address": "4.207.203.217"
        },
        {
          "address": "4.207.203.190"
        },
        {
          "address": "4.207.203.59"
        },
        {
          "address": "20.67.141.244"
        },
        {
          "address": "20.67.139.133"
        },
        {
          "address": "20.67.137.144"
        },
        {
          "address": "20.67.136.162"
        },
        {
          "address": "68.219.40.225"
        },
        {
          "address": "68.219.40.39"
        },
        {
          "address": "20.105.12.63"
        },
        {
          "address": "20.105.11.53"
        },
        {
          "address": "4.207.202.106"
        },
        {
          "address": "4.207.202.95"
        },
        {
          "address": "4.207.204.91"
        },
        {
          "address": "4.207.204.89"
        },
        {
          "address": "4.207.201.234"
        },
        {
          "address": "20.105.15.225"
        },
        {
          "address": "20.67.191.232"
        },
        {
          "address": "20.67.190.37"
        }
      ]
    }
  },
  "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-environment-request-response",
  "identity": {
    "principalId": "de1c9e76-bfa6-4428-8e95-723524e6ae73",
    "tenantId": "d7093539-83cd-4991-b1b3-aacef74cf097",
    "type": "SystemAssigned"
  },
  "location": "northeurope",
  "name": "la-d365-environment-request-response",
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "office365": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-lebara-automation",
  "state": "Enabled",
  "tags": {
    " Owner": "IT",
    " Purpose": "Azure Infra"
  },
  "type": "Microsoft.Logic/workflows",
  "version": "08584378613137505544"
}
