la-d365-environment-hardening.json
{
  "Sku": null,
  "ProvisioningState": "Succeeded",
  "CreatedTime": "2025-11-18T15:34:10.1688061Z",
  "ChangedTime": "2025-11-21T20:09:13.5309461Z",
  "State": "Enabled",
  "Version": "08584378511319614373",
  "AccessEndpoint": "https://prod-34.northeurope.logic.azure.com:443/workflows/0a19273d861d4c55b614bded2a0e3fe7",
  "IntegrationAccount": null,
  "Definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "adminEmail": {
        "defaultValue": "infrastructure@lebara.com",
        "type": "String"
      },
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "environmentId": {
                "type": "string"
              },
              "environmentName": {
                "type": "string"
              },
              "resourceGroupName": {
                "type": "string"
              },
              "vmName": {
                "type": "string"
              },
              "vnetName": {
                "type": "string"
              },
              "projectName": {
                "type": "string"
              },
              "businessJustification": {
                "type": "string"
              }
            },
            "required": [
              "environmentId",
              "resourceGroupName",
              "vmName"
            ]
          }
        }
      }
    },
    "actions": {
      "Get_SharePoint_Item": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerBody()?['environmentId'])}"
        }
      },
      "Wait_5_Minutes": {
        "runAfter": {
          "Get_SharePoint_Item": [
            "Succeeded"
          ]
        },
        "type": "Wait",
        "inputs": {
          "interval": {
            "count": 5,
            "unit": "Minute"
          }
        }
      },
      "List_Resources_in_RG": {
        "runAfter": {
          "Wait_5_Minutes": [
            "Succeeded"
          ]
        },
        "type": "Http",
        "inputs": {
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{triggerBody()?['resourceGroupName']}/resources?api-version=2021-04-01",
          "method": "GET",
          "authentication": {
            "type": "ManagedServiceIdentity",
            "audience": "https://management.azure.com"
          }
        }
      },
      "Parse_Resources": {
        "runAfter": {
          "List_Resources_in_RG": [
            "Succeeded"
          ]
        },
        "type": "ParseJson",
        "inputs": {
          "content": "@body('List_Resources_in_RG')",
          "schema": {
            "type": "object",
            "properties": {
              "value": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Filter_Public_IPs": {
        "runAfter": {
          "Parse_Resources": [
            "Succeeded"
          ]
        },
        "type": "Query",
        "inputs": {
          "from": "@body('Parse_Resources')?['value']",
          "where": "@equals(item()?['type'], 'Microsoft.Network/publicIPAddresses')"
        }
      },
      "Initialize_Changes_Array": {
        "runAfter": {
          "Filter_Public_IPs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "changesLog",
              "type": "array",
              "value": []
            }
          ]
        }
      },
      "Check_If_Public_IP_Exists": {
        "actions": {
          "For_Each_Public_IP": {
            "foreach": "@body('Filter_Public_IPs')",
            "actions": {
              "Get_Public_IP_Details": {
                "type": "Http",
                "inputs": {
                  "uri": "https://management.azure.com@{items('For_Each_Public_IP')?['id']}?api-version=2024-01-01",
                  "method": "GET",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "audience": "https://management.azure.com"
                  }
                }
              },
              "Parse_PIP_Details": {
                "runAfter": {
                  "Get_Public_IP_Details": [
                    "Succeeded"
                  ]
                },
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('Get_Public_IP_Details')",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "properties": {
                          "properties": {
                            "type": "object",
                            "properties": {
                              "ipConfiguration": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "Check_If_Attached": {
                "actions": {
                  "Detach_Public_IP": {
                    "type": "Http",
                    "inputs": {
                      "uri": "https://management.azure.com@{body('Parse_PIP_Details')?['properties']?['ipConfiguration']?['id']}?api-version=2024-01-01",
                      "method": "GET",
                      "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.azure.com"
                      }
                    }
                  },
                  "Parse_IP_Config": {
                    "runAfter": {
                      "Detach_Public_IP": [
                        "Succeeded"
                      ]
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('Detach_Public_IP')",
                      "schema": {
                        "type": "object"
                      }
                    }
                  },
                  "Remove_Public_IP_From_Config": {
                    "runAfter": {
                      "Parse_IP_Config": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "uri": "https://management.azure.com@{body('Parse_PIP_Details')?['properties']?['ipConfiguration']?['id']}?api-version=2024-01-01",
                      "method": "PUT",
                      "body": "@setProperty(body('Parse_IP_Config'), 'properties', removeProperty(body('Parse_IP_Config')?['properties'], 'publicIPAddress'))",
                      "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://management.azure.com"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Parse_PIP_Details": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {}
                },
                "expression": {
                  "and": [
                    {
                      "not": {
                        "equals": [
                          "@body('Parse_PIP_Details')?['properties']?['ipConfiguration']",
                          null
                        ]
                      }
                    }
                  ]
                },
                "type": "If"
              },
              "Delete_Public_IP": {
                "runAfter": {
                  "Check_If_Attached": [
                    "Succeeded",
                    "Skipped"
                  ]
                },
                "type": "Http",
                "inputs": {
                  "uri": "https://management.azure.com@{items('For_Each_Public_IP')?['id']}?api-version=2024-01-01",
                  "method": "DELETE",
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "audience": "https://management.azure.com"
                  }
                }
              },
              "Log_PIP_Deletion": {
                "runAfter": {
                  "Delete_Public_IP": [
                    "Succeeded"
                  ]
                },
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "changesLog",
                  "value": "Deleted public IP: @{items('For_Each_Public_IP')?['name']}"
                }
              }
            },
            "type": "Foreach"
          }
        },
        "runAfter": {
          "Initialize_Changes_Array": [
            "Succeeded"
          ]
        },
        "else": {
          "actions": {}
        },
        "expression": {
          "and": [
            {
              "greater": [
                "@length(body('Filter_Public_IPs'))",
                0
              ]
            }
          ]
        },
        "type": "If"
      },
      "Call_VM_Hardening_Runbook": {
        "runAfter": {
          "Check_If_Public_IP_Exists": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "Http",
        "inputs": {
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Automation/automationAccounts/aa-lebara-automation/jobs/@{guid()}?api-version=2023-11-01",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "properties": {
              "runbook": {
                "name": "Harden-D365-VM"
              },
              "parameters": {
                "resourceGroupName": "@{triggerBody()?['resourceGroupName']}",
                "vmName": "@{triggerBody()?['vmName']}",
                "location": "northeurope",
                "environmentType": "Dev"
              }
            }
          },
          "authentication": {
            "type": "ManagedServiceIdentity",
            "audience": "https://management.azure.com"
          }
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "Update_SharePoint_Hardened": {
        "runAfter": {
          "Call_VM_Hardening_Runbook": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "patch",
          "body": {
            "Title": "@triggerBody()?['environmentName']",
            "BusinessJustification": "@concat('Automated hardening for environment: ', triggerBody()?['environmentName'])",
            "Hardening_x0020_Notes": "@{join(variables('changesLog'), '\n')}",
            "Hardening_x0020_Completed_x0020_Date": "@utcNow()"
          },
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerBody()?['environmentId'])}"
        }
      },
      "Send_Hardening_Complete_Email": {
        "runAfter": {
          "Update_SharePoint_Hardened": [
            "Succeeded"
          ]
        },
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "https://graph.microsoft.com/v1.0/users/infra.automation@lebara.com/sendMail",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "message": {
              "subject": "✅ Your Environment is Ready: @{triggerBody()?['environmentName']}",
              "body": {
                "contentType": "HTML",
                "content": "<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\"><p>Hi @{body('Get_SharePoint_Item')?['Author']?['DisplayName']},</p><p>Your <strong>@{triggerBody()?['environmentName']}</strong> environment is now fully secured and ready to use!</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4; margin-top: 20px;\">Environment Details</h3><table style=\"width: 100%; border-collapse: collapse;\"><tr><td style=\"padding: 8px 0; font-weight: 600; width: 40%;\">Project Name:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['environmentName']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Resource Group:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['resourceGroupName']}</td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">VM Name:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['vmName']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Virtual Network:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['vnetName']}</td></tr></table><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Security Hardening Completed</h3><div style=\"background-color: #d4edda; border-left: 4px solid #28a745; padding: 15px; margin: 20px 0; border-radius: 4px;\"><p style=\"margin: 0 0 10px 0; color: #155724;\"><strong>✓ Applied Security Measures:</strong></p><ul style=\"margin: 0; padding-left: 20px; color: #155724;\"><li>NSG rules hardened (restricted management ports)</li><li>Unnecessary public endpoints removed</li><li>Security baselines applied</li><li>Monitoring enabled</li></ul></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Next Steps</h3><p>Your RDP connection script has been generated and will be sent to you shortly in a separate email.</p><div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 4px;\"><strong style=\"color: #856404;\">Important:</strong><p style=\"margin: 10px 0 0 0; color: #856404;\">Only use the provided connection script to access your environment. Direct RDP connections may fail due to security hardening.</p></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Quick Links</h3><ul style=\"list-style: none; padding: 0;\"><li style=\"padding: 5px 0;\"><a href=\"https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests/DispForm.aspx?ID=@{triggerBody()?['environmentId']}\" style=\"color: #0078d4; text-decoration: none;\">→ View Request in SharePoint</a></li><li style=\"padding: 5px 0;\"><a href=\"https://portal.azure.com/#@lebara.com/resource/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{triggerBody()?['resourceGroupName']}/overview\" style=\"color: #0078d4; text-decoration: none;\">→ View Resource Group in Azure Portal</a></li></ul><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><p style=\"color: #666; font-size: 13px;\">Need assistance? Contact the Infrastructure Team: <a href=\"mailto:infrastructure@lebara.com\" style=\"color: #0078d4; text-decoration: none;\">infrastructure@lebara.com</a></p><p style=\"color: #666; font-size: 13px; margin-top: 30px;\"><strong>Infrastructure Automation</strong></p></div>"
              },
              "toRecipients": [
                {
                  "emailAddress": {
                    "address": "@{body('Get_SharePoint_Item')?['Author']?['Email']}"
                  }
                }
              ],
              "from": {
                "emailAddress": {
                  "address": "infra.automation@lebara.com",
                  "name": "Infrastructure Automation"
                }
              }
            },
            "saveToSentItems": false
          },
          "authentication": {
            "type": "ManagedServiceIdentity",
            "audience": "https://graph.microsoft.com"
          }
        }
      },
      "Call_Connection_Script_Generator": {
        "runAfter": {
          "Send_Hardening_Complete_Email": [
            "Succeeded"
          ]
        },
        "type": "Http",
        "inputs": {
          "uri": "https://prod-36.northeurope.logic.azure.com:443/workflows/f37bd269b7f842488ed6da978e8c62e6/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=fHjGkWVwCWqvAA9LIkl94p2M-xfABU0lAc6XrIRYL8A",
          "method": "POST",
          "body": {
            "environmentId": "@triggerBody()?['environmentId']"
          }
        }
      },
      "Response": {
        "runAfter": {
          "Call_Connection_Script_Generator": [
            "Succeeded"
          ]
        },
        "type": "Response",
        "inputs": {
          "statusCode": 200,
          "body": {
            "status": "success",
            "message": "Environment hardened successfully",
            "changes": "@variables('changesLog')"
          }
        }
      }
    },
    "outputs": {}
  },
  "Parameters": {
    "adminEmail": {
      "Type": null,
      "Value": "infrastructure@lebara.com",
      "Metadata": null,
      "Description": null
    },
    "$connections": {
      "Type": "Object",
      "Value": {
        "sharepointonline": {
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline",
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "connectionProperties": {}
        },
        "office365": {
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/office365",
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "connectionProperties": {}
        }
      },
      "Metadata": null,
      "Description": null
    }
  },
  "Id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-environment-hardening",
  "Name": "la-d365-environment-hardening",
  "Type": "Microsoft.Logic/workflows",
  "Location": "northeurope",
  "Tags": null
}
