la-d365-environment-provisioning.json
{
  "accessEndpoint": "https://prod-17.northeurope.logic.azure.com:443/workflows/5e5720a8fe704a778f0a202130b659b8",
  "changedTime": "2025-11-24T10:20:23.6310029Z",
  "createdTime": "2025-10-29T13:56:26.2693661Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Condition_1_(Status_=_Approved_AND_Deployment_Status_=_Ready_for_Deployment)": {
        "actions": {
          "Deploy_Hub_to_Spoke_Peering": {
            "inputs": {
              "body": {
                "properties": {
                  "mode": "Incremental",
                  "parameters": {
                    "hubVnetName": {
                      "value": "vnet-lebara-security-hub"
                    },
                    "peeringName": {
                      "value": "hub-to-@{triggerBody()?['VNet_x0020_Name']}"
                    },
                    "spokeVnetId": {
                      "value": "@{body('Deploy_VNet_and_Peering')?['properties']?['outputs']?['vnetResourceId']?['value']}"
                    }
                  },
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                      "hubVnetName": {
                        "type": "string"
                      },
                      "peeringName": {
                        "type": "string"
                      },
                      "spokeVnetId": {
                        "type": "string"
                      }
                    },
                    "resources": [
                      {
                        "apiVersion": "2024-01-01",
                        "name": "[concat(parameters('hubVnetName'), '/', parameters('peeringName'))]",
                        "properties": {
                          "allowForwardedTraffic": true,
                          "allowGatewayTransit": true,
                          "allowVirtualNetworkAccess": true,
                          "remoteVirtualNetwork": {
                            "id": "[parameters('spokeVnetId')]"
                          },
                          "useRemoteGateways": false
                        },
                        "type": "Microsoft.Network/virtualNetworks/virtualNetworkPeerings"
                      }
                    ]
                  }
                }
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['arm-2']['connectionId']"
                }
              },
              "method": "put",
              "path": "/subscriptions/@{encodeURIComponent('8cc0a954-47fb-4878-a768-e195dbd036b7')}/resourcegroups/@{encodeURIComponent('rg-lebara-security-hub-northeurope')}/providers/Microsoft.Resources/deployments/@{encodeURIComponent('hub-to-spoke-peering')}",
              "queries": {
                "wait": true,
                "x-ms-api-version": "2016-06-01"
              }
            },
            "runAfter": {
              "Deploy_VNet_and_Peering": [
                "Succeeded"
              ]
            },
            "type": "ApiConnection"
          },
          "Deploy_NSG_and_Associate": {
            "inputs": {
              "body": {
                "properties": {
                  "mode": "Incremental",
                  "parameters": {
                    "addressPrefix": {
                      "value": "@triggerBody()?['Allocated_x0020_IP_x0020_Address']"
                    },
                    "vnetName": {
                      "value": "@triggerBody()?['VNet_x0020_Name']"
                    }
                  },
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                      "addressPrefix": {
                        "type": "string"
                      },
                      "location": {
                        "defaultValue": "northeurope",
                        "type": "string"
                      },
                      "vnetName": {
                        "type": "string"
                      }
                    },
                    "resources": [
                      {
                        "apiVersion": "2024-01-01",
                        "location": "[parameters('location')]",
                        "name": "[variables('nsgName')]",
                        "properties": {
                          "securityRules": [
                            {
                              "name": "AllowHTTPS-LCS",
                              "properties": {
                                "access": "Allow",
                                "description": "Allow HTTPS from LCS for deployment monitoring and configuration",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "443",
                                "direction": "Inbound",
                                "priority": 110,
                                "protocol": "Tcp",
                                "sourceAddressPrefixes": [
                                  "191.239.20.104",
                                  "40.76.5.241",
                                  "40.112.209.123",
                                  "40.121.208.21",
                                  "40.118.145.241",
                                  "20.253.188.249",
                                  "172.191.225.240"
                                ],
                                "sourcePortRange": "*"
                              }
                            },
                            {
                              "name": "AllowWinRM-MS-1",
                              "properties": {
                                "access": "Allow",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "5986",
                                "direction": "Inbound",
                                "priority": 120,
                                "protocol": "Tcp",
                                "sourceAddressPrefix": "191.239.20.104",
                                "sourcePortRange": "*"
                              }
                            },
                            {
                              "name": "AllowWinRM-MS-2",
                              "properties": {
                                "access": "Allow",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "5986",
                                "direction": "Inbound",
                                "priority": 121,
                                "protocol": "Tcp",
                                "sourceAddressPrefix": "40.76.5.241",
                                "sourcePortRange": "*"
                              }
                            },
                            {
                              "name": "AllowWinRM-MS-3",
                              "properties": {
                                "access": "Allow",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "5986",
                                "direction": "Inbound",
                                "priority": 122,
                                "protocol": "Tcp",
                                "sourceAddressPrefix": "40.112.209.123",
                                "sourcePortRange": "*"
                              }
                            },
                            {
                              "name": "AllowWinRM-MS-4",
                              "properties": {
                                "access": "Allow",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "5986",
                                "direction": "Inbound",
                                "priority": 123,
                                "protocol": "Tcp",
                                "sourceAddressPrefix": "40.121.208.21",
                                "sourcePortRange": "*"
                              }
                            },
                            {
                              "name": "AllowWinRM-MS-5",
                              "properties": {
                                "access": "Allow",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "5986",
                                "direction": "Inbound",
                                "priority": 124,
                                "protocol": "Tcp",
                                "sourceAddressPrefix": "40.118.145.241",
                                "sourcePortRange": "*"
                              }
                            },
                            {
                              "name": "AllowWinRM-MS-6",
                              "properties": {
                                "access": "Allow",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "5986",
                                "direction": "Inbound",
                                "priority": 125,
                                "protocol": "Tcp",
                                "sourceAddressPrefix": "20.253.188.249",
                                "sourcePortRange": "*"
                              }
                            },
                            {
                              "name": "AllowWinRM-MS-7",
                              "properties": {
                                "access": "Allow",
                                "destinationAddressPrefix": "*",
                                "destinationPortRange": "5986",
                                "direction": "Inbound",
                                "priority": 126,
                                "protocol": "Tcp",
                                "sourceAddressPrefix": "172.191.225.240",
                                "sourcePortRange": "*"
                              }
                            }
                          ]
                        },
                        "type": "Microsoft.Network/networkSecurityGroups"
                      },
                      {
                        "apiVersion": "2024-01-01",
                        "dependsOn": [
                          "[resourceId('Microsoft.Network/networkSecurityGroups', variables('nsgName'))]"
                        ],
                        "name": "[concat(parameters('vnetName'), '/', variables('subnetName'))]",
                        "properties": {
                          "addressPrefix": "[parameters('addressPrefix')]",
                          "networkSecurityGroup": {
                            "id": "[resourceId('Microsoft.Network/networkSecurityGroups', variables('nsgName'))]"
                          }
                        },
                        "type": "Microsoft.Network/virtualNetworks/subnets"
                      }
                    ],
                    "variables": {
                      "nsgName": "[concat('nsg-', parameters('vnetName'))]",
                      "subnetName": "default"
                    }
                  }
                }
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['arm-2']['connectionId']"
                }
              },
              "method": "put",
              "path": "/subscriptions/@{encodeURIComponent('8cc0a954-47fb-4878-a768-e195dbd036b7')}/resourcegroups/@{encodeURIComponent('rg-lebara-d365-networking')}/providers/Microsoft.Resources/deployments/@{encodeURIComponent(concat('nsg-deploy-', utcNow('yyyyMMddHHmmss')))}",
              "queries": {
                "wait": true,
                "x-ms-api-version": "2016-06-01"
              }
            },
            "runAfter": {
              "Deploy_Hub_to_Spoke_Peering": [
                "Succeeded"
              ]
            },
            "type": "ApiConnection"
          },
          "Deploy_VNet_and_Peering": {
            "inputs": {
              "body": {
                "properties": {
                  "mode": "Incremental",
                  "parameters": {
                    "addressPrefix": {
                      "value": "@triggerBody()?['Allocated_x0020_IP_x0020_Address']"
                    },
                    "hubVnetId": {
                      "value": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-security-hub-northeurope/providers/Microsoft.Network/virtualNetworks/vnet-lebara-security-hub"
                    },
                    "location": {
                      "value": "North Europe"
                    },
                    "vnetName": {
                      "value": "@triggerBody()?['VNet_x0020_Name']"
                    }
                  },
                  "templateLink": {
                    "uri": "https://erpautomationtemplates.blob.core.windows.net/arm-templates/vnet-deployment.json"
                  }
                }
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['arm-2']['connectionId']"
                }
              },
              "method": "put",
              "path": "/subscriptions/@{encodeURIComponent('8cc0a954-47fb-4878-a768-e195dbd036b7')}/resourcegroups/@{encodeURIComponent('rg-lebara-d365-networking')}/providers/Microsoft.Resources/deployments/@{encodeURIComponent(concat('deploy-', utcNow('yyyyMMddHHmmss')))}",
              "queries": {
                "wait": true,
                "x-ms-api-version": "2016-06-01"
              }
            },
            "type": "ApiConnection"
          }
        },
        "else": {
          "actions": {}
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@triggerBody()?['Status']?['Value']",
                "Approved"
              ]
            },
            {
              "equals": [
                "@triggerBody()?['Deployment_x0020_Status']?['Value']",
                "Ready for Deployment"
              ]
            }
          ]
        },
        "runAfter": {},
        "type": "If"
      },
      "Condition_2_-_Check_Deployment_Success": {
        "actions": {
          "Send_Deployment_Success_Email": {
            "inputs": {
              "authentication": {
                "audience": "https://graph.microsoft.com",
                "type": "ManagedServiceIdentity"
              },
              "body": {
                "message": {
                  "body": {
                    "content": "<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\"><p>Hi @{body('Update_Request_-_Deployment_Completed')?['Author']?['DisplayName']},</p><p>Good news! The network infrastructure for your <strong>@{body('Update_Request_-_Deployment_Completed')?['Title']}</strong> environment has been provisioned successfully.</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4; margin-top: 20px;\">Network Details</h3><table style=\"width: 100%; border-collapse: collapse;\"><tr><td style=\"padding: 8px 0; font-weight: 600; width: 40%;\">Virtual Network:</td><td style=\"padding: 8px 0;\">@{body('Update_Request_-_Deployment_Completed')?['VNet_x0020_Name']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Network Location:</td><td style=\"padding: 8px 0;\">rg-lebara-d365-networking (Shared Networking RG)</td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">IP Address Range:</td><td style=\"padding: 8px 0;\">@{body('Update_Request_-_Deployment_Completed')?['Allocated_x0020_IP_x0020_Address']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Hub Peering:</td><td style=\"padding: 8px 0;\"><span style=\"color: #28a745; font-weight: 600;\"> Configured </span></td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">Location:</td><td style=\"padding: 8px 0;\">North Europe</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Environment Type:</td><td style=\"padding: 8px 0;\">@{body('Update_Request_-_Deployment_Completed')?['EnvironmentType']?['Value']}</td></tr></table><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Next Steps - Deploy Your CHE in LCS</h3><ol style=\"line-height: 1.8; padding-left: 20px;\"><li>Go to <a href=\"https://lcs.dynamics.com\" style=\"color: #0078d4; text-decoration: none;\">LCS (Lifecycle Services)</a></li><li>Navigate to your project  <strong>Cloud-hosted environments</strong>  <strong>+ (Add)</strong></li><li>Select your topology (Demo/Dev/Test)</li><li>Enter environment name following convention: <strong>lebara-{environment-type}-{name}</strong><br/><span style=\"color: #666; font-size: 13px;\">Example: lebara-dev-finance, lebara-test-warehouse</span></li><li style=\"margin-top: 10px;\"><div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 10px 0; border-radius: 4px;\"><strong style=\"color: #856404;\"> CRITICAL - VM Size Selection:</strong><br/><span style=\"color: #856404;\">Change VM size from default <strong>DS13_v2</strong> to <strong>DS12_v2</strong></span><br/><span style=\"color: #666; font-size: 13px;\">DS13_v2 is not available in our subscription</span></div></li><li style=\"margin-top: 10px;\"><div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 10px 0; border-radius: 4px;\"><strong style=\"color: #856404;\"> CRITICAL - Network Configuration:</strong><br/><span style=\"color: #856404;\">Click <strong>Advanced settings</strong>, then navigate through:</span><ol style=\"margin: 10px 0 0 0; padding-left: 20px; color: #856404;\"><li><strong>Customize virtual network</strong></li><li>Select <strong>\"Existing virtual network\"</strong></li><li>Choose VNet from dropdown:<br/><strong style=\"font-family: 'Courier New', monospace; background-color: #f5f5f5; padding: 2px 6px;\">rg-lebara-d365-networking:@{body('Update_Request_-_Deployment_Completed')?['VNet_x0020_Name']}</strong></li><li>Select address space: <strong>@{body('Update_Request_-_Deployment_Completed')?['Allocated_x0020_IP_x0020_Address']}</strong></li><li>Select subnet: <strong>default</strong></li></ol></div></li><li>Complete remaining configuration and start deployment</li><li>Deployment typically takes 1-2 hours</li></ol><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><div style=\"background-color: #e7f3ff; border-left: 4px solid #0078d4; padding: 15px; margin: 20px 0; border-radius: 4px;\"><strong style=\"color: #004085;\"> What Happens Next:</strong><ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #004085;\"><li>LCS creates a resource group for your VMs, storage, and NSG</li><li>NSG is automatically hardened after deployment completes</li><li>Connection script is generated and uploaded to SharePoint</li><li>You'll receive email notification when ready to access</li></ul></div><div style=\"background-color: #d4edda; border-left: 4px solid #28a745; padding: 15px; margin: 20px 0; border-radius: 4px;\"><strong style=\"color: #155724;\"> Architecture Notes:</strong><ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #155724;\"><li>Virtual network is in shared resource group: <strong>rg-lebara-d365-networking</strong></li><li>VNet name in LCS dropdown appears as: <strong>rg-name:vnet-name</strong></li><li>Compute resources deployed to separate resource group by LCS</li><li>Hub peering enables Bastion connectivity and security hub access</li><li>NSG includes temporary LCS access rules removed post-deployment</li></ul></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Quick Links</h3><ul style=\"list-style: none; padding: 0;\"><li style=\"padding: 5px 0;\"><a href=\"https://lcs.dynamics.com\" style=\"color: #0078d4; text-decoration: none;\"> Lifecycle Services Portal</a></li><li style=\"padding: 5px 0;\"><a href=\"https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests/DispForm.aspx?ID=@{body('Update_Request_-_Deployment_Completed')?['ID']}\" style=\"color: #0078d4; text-decoration: none;\"> View Request in SharePoint</a></li></ul><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><p style=\"color: #666; font-size: 13px;\">Need assistance? Contact the Infrastructure Team: <a href=\"mailto:infrastructure@lebara.com\" style=\"color: #0078d4; text-decoration: none;\">infrastructure@lebara.com</a></p><p style=\"color: #666; font-size: 13px; margin-top: 30px;\"><strong>Infrastructure Automation</strong></p></div>",
                    "contentType": "HTML"
                  },
                  "from": {
                    "emailAddress": {
                      "address": "infra.automation@lebara.com",
                      "name": "Infrastructure Automation"
                    }
                  },
                  "subject": "Network Ready: Deploy Your @{body('Update_Request_-_Deployment_Completed')['Title']} CHE in LCS",
                  "toRecipients": [
                    {
                      "emailAddress": {
                        "address": "@triggerBody()?['Author']?['Email']"
                      }
                    }
                  ]
                },
                "saveToSentItems": false
              },
              "headers": {
                "Content-Type": "application/json"
              },
              "method": "POST",
              "uri": "https://graph.microsoft.com/v1.0/users/infra.automation@lebara.com/sendMail"
            },
            "runAfter": {
              "Update_Request_-_Deployment_Completed": [
                "Succeeded"
              ]
            },
            "type": "Http"
          },
          "Update_Request_-_Deployment_Completed": {
            "inputs": {
              "body": {
                "Deployment_x0020_Status": {
                  "Value": "Completed"
                },
                "Status": {
                  "Value": "Provisioned - Deploy in LCS"
                }
              },
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['sharepointonline-1']['connectionId']"
                }
              },
              "method": "patch",
              "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}"
            },
            "type": "ApiConnection"
          }
        },
        "else": {
          "actions": {}
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@actions('Deploy_VNet_and_Peering')['status']",
                "Succeeded"
              ]
            }
          ]
        },
        "runAfter": {
          "Condition_1_(Status_=_Approved_AND_Deployment_Status_=_Ready_for_Deployment)": [
            "Succeeded"
          ]
        },
        "type": "If"
      }
    },
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_an_item_is_created_or_modified": {
        "evaluatedRecurrence": {
          "frequency": "Minute",
          "interval": 1
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline-1']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/onupdateditems"
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 1
        },
        "splitOn": "@triggerBody()?['value']",
        "type": "ApiConnection"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.178.150.68"
        },
        {
          "address": "94.245.91.93"
        },
        {
          "address": "13.69.227.208/28"
        },
        {
          "address": "13.69.231.192/27"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.82.246.112/28"
        },
        {
          "address": "52.146.138.32/27"
        },
        {
          "address": "20.82.226.52"
        },
        {
          "address": "20.82.224.59"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.93.81.75"
        },
        {
          "address": "20.82.159.224"
        },
        {
          "address": "20.82.226.163"
        },
        {
          "address": "20.82.225.129"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "40.67.252.16"
        },
        {
          "address": "4.207.0.242"
        },
        {
          "address": "4.207.204.28"
        },
        {
          "address": "4.207.203.201"
        },
        {
          "address": "20.67.143.247"
        },
        {
          "address": "20.67.138.43"
        },
        {
          "address": "68.219.40.237"
        },
        {
          "address": "20.105.14.98"
        },
        {
          "address": "4.207.203.15"
        },
        {
          "address": "4.207.204.121"
        },
        {
          "address": "4.207.201.247"
        },
        {
          "address": "20.107.145.46"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "40.127.240.183"
        },
        {
          "address": "51.138.227.160"
        },
        {
          "address": "40.127.144.121"
        },
        {
          "address": "40.67.251.175"
        },
        {
          "address": "40.67.250.247"
        },
        {
          "address": "4.207.0.229"
        },
        {
          "address": "4.207.0.197"
        },
        {
          "address": "4.207.204.8"
        },
        {
          "address": "4.207.203.217"
        },
        {
          "address": "4.207.203.190"
        },
        {
          "address": "4.207.203.59"
        },
        {
          "address": "20.67.141.244"
        },
        {
          "address": "20.67.139.133"
        },
        {
          "address": "20.67.137.144"
        },
        {
          "address": "20.67.136.162"
        },
        {
          "address": "68.219.40.225"
        },
        {
          "address": "68.219.40.39"
        },
        {
          "address": "20.105.12.63"
        },
        {
          "address": "20.105.11.53"
        },
        {
          "address": "4.207.202.106"
        },
        {
          "address": "4.207.202.95"
        },
        {
          "address": "4.207.204.91"
        },
        {
          "address": "4.207.204.89"
        },
        {
          "address": "4.207.201.234"
        },
        {
          "address": "20.105.15.225"
        },
        {
          "address": "20.67.191.232"
        },
        {
          "address": "20.67.190.37"
        }
      ]
    }
  },
  "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-environment-provisioning",
  "identity": {
    "principalId": "fbe14e24-1d23-4ec4-b416-fffeae24932c",
    "tenantId": "d7093539-83cd-4991-b1b3-aacef74cf097",
    "type": "SystemAssigned"
  },
  "location": "northeurope",
  "name": "la-d365-environment-provisioning",
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "arm-2": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/arm-2",
          "connectionName": "arm-2",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/arm"
        },
        "office365-1": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/office365-1",
          "connectionName": "office365-1",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
        },
        "sharepointonline-1": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline-1",
          "connectionName": "sharepointonline-1",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-lebara-automation",
  "state": "Enabled",
  "tags": {
    " Owner": "IT",
    " Purpose": "Azure Infra",
    "Availability": "24/7",
    "Customer": "SHARED",
    "Environment": "DEV",
    "Name": "ERP",
    "Purpose": "ERP",
    "Resolver Group": "NA",
    "RetentionPolicy": "N/A",
    "Version": "N/A"
  },
  "type": "Microsoft.Logic/workflows",
  "version": "08584376272618606342"
}
