la-d365-deprovision-detector.json
{
  "Sku": null,
  "ProvisioningState": "Succeeded",
  "CreatedTime": "2025-11-19T18:13:25.2438829Z",
  "ChangedTime": "2025-11-21T16:46:45.0136469Z",
  "State": "Enabled",
  "Version": "08584378632804778470",
  "AccessEndpoint": "https://prod-55.northeurope.logic.azure.com:443/workflows/3f53a1b21bfb401e9b6de10b580fc210",
  "IntegrationAccount": null,
  "Definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence_Check_Every_5_Minutes": {
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "evaluatedRecurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "type": "Recurrence"
      }
    },
    "actions": {
      "For_Each_Environment": {
        "foreach": "@body('Get_All_Provisioned_Environments')?['value']",
        "actions": {
          "Check_If_Has_Resource_Group": {
            "actions": {
              "Check_If_Resource_Group_Exists": {
                "type": "Http",
                "inputs": {
                  "authentication": {
                    "audience": "https://management.azure.com",
                    "type": "ManagedServiceIdentity"
                  },
                  "method": "GET",
                  "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']}?api-version=2021-04-01"
                }
              },
              "Check_Response": {
                "actions": {},
                "runAfter": {
                  "Check_If_Resource_Group_Exists": [
                    "Succeeded",
                    "Failed"
                  ]
                },
                "else": {
                  "actions": {
                    "Call_Deprovision_Execute_Logic_App": {
                      "runAfter": {
                        "Send_Deprovisioning_Detected_Email": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "environmentId": "@items('For_Each_Environment')?['ID']",
                          "environmentName": "@items('For_Each_Environment')?['Title']",
                          "resourceGroupName": "@items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']",
                          "vmName": "@items('For_Each_Environment')?['VM_x0020_Name']",
                          "vnetName": "@items('For_Each_Environment')?['VNet_x0020_Name']"
                        },
                        "method": "POST",
                        "uri": "https://prod-62.northeurope.logic.azure.com:443/workflows/d833583519274b7a976d3ec9a354bad0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qjUheJOlwpm539XxRa6GNiBCvMrLVsXpJU58EsdlgDw"
                      }
                    },
                    "Send_Deprovisioning_Detected_Email": {
                      "runAfter": {
                        "Update_Status_To_Deprovisioning": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://graph.microsoft.com/v1.0/users/infra.automation@lebara.com/sendMail",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "message": {
                            "subject": "⚠️ Cleanup Started: @{items('For_Each_Environment')?['Title']}",
                            "body": {
                              "contentType": "HTML",
                              "content": "<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\"><p>Hi @{items('For_Each_Environment')?['Author']?['DisplayName']},</p><p>Resource group deletion has been detected for your <strong>@{items('For_Each_Environment')?['Title']}</strong> environment.</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4; margin-top: 20px;\">Environment Details</h3><table style=\"width: 100%; border-collapse: collapse;\"><tr><td style=\"padding: 8px 0; font-weight: 600; width: 40%;\">Project Name:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['Title']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Resource Group:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']}</td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">VM Name:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['VM_x0020_Name']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Virtual Network:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['VNet_x0020_Name']}</td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">Detection Time:</td><td style=\"padding: 8px 0;\">@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')} UTC</td></tr></table><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Automatic Cleanup in Progress</h3><div style=\"background-color: #e7f3ff; border-left: 4px solid #0078d4; padding: 15px; margin: 20px 0; border-radius: 4px;\"><p style=\"margin: 0; color: #004085;\">The following resources will be automatically cleaned up:</p><ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #004085;\"><li>Virtual Network peerings (spoke-to-hub and hub-to-spoke)</li><li>Virtual Network (@{items('For_Each_Environment')?['VNet_x0020_Name']})</li><li>IP address will be returned to the pool</li></ul></div><p>This process typically takes 5-10 minutes. You will receive a confirmation email once all networking resources have been successfully removed.</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Quick Links</h3><ul style=\"list-style: none; padding: 0;\"><li style=\"padding: 5px 0;\"><a href=\"https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests/DispForm.aspx?ID=@{items('For_Each_Environment')?['ID']}\" style=\"color: #0078d4; text-decoration: none;\">→ View Request in SharePoint</a></li><li style=\"padding: 5px 0;\"><a href=\"https://portal.azure.com/#@lebara.com/resource/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-d365-networking/overview\" style=\"color: #0078d4; text-decoration: none;\">→ View Shared Networking Resource Group</a></li></ul><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><p style=\"color: #666; font-size: 13px;\">If you have any questions or did not initiate this deletion, please contact the Infrastructure Team immediately: <a href=\"mailto:infrastructure@lebara.com\" style=\"color: #0078d4; text-decoration: none;\">infrastructure@lebara.com</a></p><p style=\"color: #666; font-size: 13px; margin-top: 30px;\"><strong>Infrastructure Automation</strong></p></div>"
                            },
                            "toRecipients": [
                              {
                                "emailAddress": {
                                  "address": "@{items('For_Each_Environment')?['Author']?['Email']}"
                                }
                              }
                            ],
                            "from": {
                              "emailAddress": {
                                "address": "infra.automation@lebara.com",
                                "name": "Infrastructure Automation"
                              }
                            }
                          },
                          "saveToSentItems": false
                        },
                        "authentication": {
                          "type": "ManagedServiceIdentity",
                          "audience": "https://graph.microsoft.com"
                        }
                      }
                    },
                    "Update_Status_To_Deprovisioning": {
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "Status": {
                            "Value": "Deprovisioning in Progress"
                          }
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(items('For_Each_Environment')?['ID'])}"
                      }
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@outputs('Check_If_Resource_Group_Exists')['statusCode']",
                        200
                      ]
                    }
                  ]
                },
                "type": "If"
              }
            },
            "runAfter": {},
            "expression": {
              "and": [
                {
                  "equals": [
                    "@items('For_Each_Environment')?['Status']?['Value']",
                    "Provisioned"
                  ]
                },
                {
                  "not": {
                    "equals": [
                      "@items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']",
                      "@null"
                    ]
                  }
                },
                {
                  "not": {
                    "equals": [
                      "@items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']",
                      ""
                    ]
                  }
                }
              ]
            },
            "type": "If"
          }
        },
        "runAfter": {
          "Get_All_Provisioned_Environments": [
            "Succeeded"
          ]
        },
        "type": "Foreach",
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 1
          }
        }
      },
      "Get_All_Provisioned_Environments": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items"
        }
      }
    },
    "outputs": {}
  },
  "Parameters": {
    "$connections": {
      "Type": "Object",
      "Value": {
        "office365": {
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/office365",
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "connectionProperties": {}
        },
        "sharepointonline": {
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline",
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "connectionProperties": {}
        }
      },
      "Metadata": null,
      "Description": null
    }
  },
  "Id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-deprovision-detector",
  "Name": "la-d365-deprovision-detector",
  "Type": "Microsoft.Logic/workflows",
  "Location": "northeurope",
  "Tags": {
    " Owner": "IT",
    " Purpose": "Azure Infra"
  }
}
