la-d365-deprovision-execute-auto.json
{
  "accessEndpoint": "https://prod-62.northeurope.logic.azure.com:443/workflows/d833583519274b7a976d3ec9a354bad0",
  "changedTime": "2025-11-21T16:20:57.0643585Z",
  "createdTime": "2025-11-21T10:28:49.7591246Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Check_If_Has_Connection_Script": {
        "actions": {
          "Delete_Connection_Script": {
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                }
              },
              "method": "delete",
              "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/files/@{encodeURIComponent(decodeUriComponent(substring(body('Update_SharePoint_to_Deprovisioned')?['Connection_x0020_Script'], indexOf(body('Update_SharePoint_to_Deprovisioned')?['Connection_x0020_Script'], '/sites/'))))}"
            },
            "type": "ApiConnection"
          }
        },
        "else": {
          "actions": {}
        },
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@body('Update_SharePoint_to_Deprovisioned')?['Connection_x0020_Script']",
                  "@null"
                ]
              }
            },
            {
              "not": {
                "equals": [
                  "@body('Update_SharePoint_to_Deprovisioned')?['Connection_x0020_Script']",
                  ""
                ]
              }
            }
          ]
        },
        "runAfter": {
          "Update_SharePoint_to_Deprovisioned": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Check_If_Resource_Group_Exists": {
        "inputs": {
          "authentication": {
            "audience": "https://management.azure.com",
            "type": "ManagedServiceIdentity"
          },
          "method": "GET",
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{triggerBody()?['resourceGroupName']}?api-version=2021-04-01"
        },
        "runAfter": {},
        "type": "Http"
      },
      "Delete_Hub_to_Spoke_Peering": {
        "inputs": {
          "authentication": {
            "audience": "https://management.azure.com",
            "type": "ManagedServiceIdentity"
          },
          "method": "DELETE",
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-security-hub-northeurope/providers/Microsoft.Network/virtualNetworks/vnet-lebara-security-hub/virtualNetworkPeerings/hub-to-@{triggerBody()?['vnetName']}?api-version=2024-01-01"
        },
        "runAfter": {
          "Delete_Spoke_to_Hub_Peering": [
            "Succeeded",
            "Failed"
          ]
        },
        "type": "Http"
      },
      "Delete_Spoke_to_Hub_Peering": {
        "inputs": {
          "authentication": {
            "audience": "https://management.azure.com",
            "type": "ManagedServiceIdentity"
          },
          "method": "DELETE",
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-d365-networking/providers/Microsoft.Network/virtualNetworks/@{triggerBody()?['vnetName']}/virtualNetworkPeerings/@{triggerBody()?['vnetName']}-to-hub?api-version=2024-01-01"
        },
        "runAfter": {
          "Handle_Cleanup": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "Delete_VNet": {
        "inputs": {
          "authentication": {
            "audience": "https://management.azure.com",
            "type": "ManagedServiceIdentity"
          },
          "method": "DELETE",
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-d365-networking/providers/Microsoft.Network/virtualNetworks/@{triggerBody()?['vnetName']}?api-version=2024-01-01"
        },
        "runAfter": {
          "Delete_Hub_to_Spoke_Peering": [
            "Succeeded",
            "Failed"
          ]
        },
        "type": "Http"
      },
      "Final_SharePoint_Update": {
        "inputs": {
          "body": {
            "Connection_x0020_Script": null,
            "Deprovisioned_x0020_Date": "@utcNow()",
            "Status": {
              "Value": "Deprovisioned"
            },
            "VM_x0020_Name": null
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "patch",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerBody()?['environmentId'])}"
        },
        "runAfter": {
          "Check_If_Has_Connection_Script": [
            "Succeeded",
            "Skipped"
          ]
        },
        "type": "ApiConnection"
      },
      "Handle_Cleanup": {
        "actions": {
          "Delete_Resource_Group": {
            "inputs": {
              "authentication": {
                "audience": "https://management.azure.com",
                "type": "ManagedServiceIdentity"
              },
              "method": "DELETE",
              "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{triggerBody()?['resourceGroupName']}?api-version=2021-04-01"
            },
            "type": "Http"
          }
        },
        "else": {
          "actions": {
            "Delete_Orphaned_NICs": {
              "actions": {
                "Delete_NIC": {
                  "inputs": {
                    "authentication": {
                      "audience": "https://management.azure.com",
                      "type": "ManagedServiceIdentity"
                    },
                    "method": "DELETE",
                    "uri": "https://management.azure.com@{items('Delete_Orphaned_NICs')?['id']}?api-version=2024-01-01"
                  },
                  "type": "Http"
                }
              },
              "foreach": "@body('Filter_NICs_In_Target_VNet')",
              "runAfter": {
                "Filter_NICs_In_Target_VNet": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Filter_NICs_In_Target_VNet": {
              "inputs": {
                "from": "@body('Parse_NICs')?['value']",
                "where": "@contains(string(item()?['properties']?['ipConfigurations']), triggerBody()?['vnetName'])"
              },
              "runAfter": {
                "Parse_NICs": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "Get_NICs_in_VNet": {
              "inputs": {
                "authentication": {
                  "audience": "https://management.azure.com",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Network/networkInterfaces?api-version=2024-01-01"
              },
              "type": "Http"
            },
            "Parse_NICs": {
              "inputs": {
                "content": "@body('Get_NICs_in_VNet')",
                "schema": {
                  "properties": {
                    "value": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "properties": {
                            "properties": {
                              "ipConfigurations": {
                                "type": "array"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Get_NICs_in_VNet": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": [
                "@outputs('Check_If_Resource_Group_Exists')['statusCode']",
                200
              ]
            }
          ]
        },
        "runAfter": {
          "Check_If_Resource_Group_Exists": [
            "Succeeded",
            "Failed"
          ]
        },
        "type": "If"
      },
      "Response": {
        "inputs": {
          "body": {
            "environmentName": "@{triggerBody()?['environmentName']}",
            "message": "Environment deprovisioned successfully",
            "status": "success"
          },
          "statusCode": 200
        },
        "runAfter": {
          "Final_SharePoint_Update": [
            "Succeeded"
          ]
        },
        "type": "Response"
      },
      "Update_SharePoint_to_Deprovisioned": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerBody()?['environmentId'])}"
        },
        "runAfter": {
          "Delete_VNet": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "environmentId": {
                "type": "string"
              },
              "environmentName": {
                "type": "string"
              },
              "resourceGroupName": {
                "type": "string"
              },
              "vmName": {
                "type": "string"
              },
              "vnetName": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.178.150.68"
        },
        {
          "address": "94.245.91.93"
        },
        {
          "address": "13.69.227.208/28"
        },
        {
          "address": "13.69.231.192/27"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.82.246.112/28"
        },
        {
          "address": "52.146.138.32/27"
        },
        {
          "address": "20.82.226.52"
        },
        {
          "address": "20.82.224.59"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.93.81.75"
        },
        {
          "address": "20.82.159.224"
        },
        {
          "address": "20.82.226.163"
        },
        {
          "address": "20.82.225.129"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "40.67.252.16"
        },
        {
          "address": "4.207.0.242"
        },
        {
          "address": "4.207.204.28"
        },
        {
          "address": "4.207.203.201"
        },
        {
          "address": "20.67.143.247"
        },
        {
          "address": "20.67.138.43"
        },
        {
          "address": "68.219.40.237"
        },
        {
          "address": "20.105.14.98"
        },
        {
          "address": "4.207.203.15"
        },
        {
          "address": "4.207.204.121"
        },
        {
          "address": "4.207.201.247"
        },
        {
          "address": "20.107.145.46"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "40.127.240.183"
        },
        {
          "address": "51.138.227.160"
        },
        {
          "address": "40.127.144.121"
        },
        {
          "address": "40.67.251.175"
        },
        {
          "address": "40.67.250.247"
        },
        {
          "address": "4.207.0.229"
        },
        {
          "address": "4.207.0.197"
        },
        {
          "address": "4.207.204.8"
        },
        {
          "address": "4.207.203.217"
        },
        {
          "address": "4.207.203.190"
        },
        {
          "address": "4.207.203.59"
        },
        {
          "address": "20.67.141.244"
        },
        {
          "address": "20.67.139.133"
        },
        {
          "address": "20.67.137.144"
        },
        {
          "address": "20.67.136.162"
        },
        {
          "address": "68.219.40.225"
        },
        {
          "address": "68.219.40.39"
        },
        {
          "address": "20.105.12.63"
        },
        {
          "address": "20.105.11.53"
        },
        {
          "address": "4.207.202.106"
        },
        {
          "address": "4.207.202.95"
        },
        {
          "address": "4.207.204.91"
        },
        {
          "address": "4.207.204.89"
        },
        {
          "address": "4.207.201.234"
        },
        {
          "address": "20.105.15.225"
        },
        {
          "address": "20.67.191.232"
        },
        {
          "address": "20.67.190.37"
        }
      ]
    }
  },
  "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-deprovision-execute-auto",
  "identity": {
    "principalId": "f0170a30-025c-47e1-a3f2-05a4612fd627",
    "tenantId": "d7093539-83cd-4991-b1b3-aacef74cf097",
    "type": "SystemAssigned"
  },
  "location": "northeurope",
  "name": "la-d365-deprovision-execute-auto",
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "sharepointonline": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-lebara-automation",
  "state": "Enabled",
  "tags": {
    " Owner": "IT",
    " Purpose": "Azure Infra"
  },
  "type": "Microsoft.Logic/workflows",
  "version": "08584378648284212408"
}
