la-d365-environment-request-response.json
{
  "Sku": null,
  "ProvisioningState": "Succeeded",
  "CreatedTime": "2025-11-17T11:25:43.4750109Z",
  "ChangedTime": "2025-11-21T17:19:31.7390254Z",
  "State": "Enabled",
  "Version": "08584378613137505544",
  "AccessEndpoint": "https://prod-60.northeurope.logic.azure.com:443/workflows/a39add57cebe447da19c76380ec36ed3",
  "IntegrationAccount": null,
  "Definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "GET",
          "schema": {
            "type": "object",
            "properties": {
              "itemId": {
                "type": "string"
              },
              "approverEmail": {
                "type": "string"
              },
              "approverName": {
                "type": "string"
              },
              "action": {
                "type": "string"
              }
            },
            "required": [
              "itemId",
              "action"
            ]
          }
        }
      }
    },
    "actions": {
      "Get_SharePoint_Item": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
        }
      },
      "Check_If_Already_Processed": {
        "actions": {
          "Response_Already_Processed": {
            "type": "Response",
            "inputs": {
              "statusCode": 200,
              "headers": {
                "Content-Type": "text/html; charset=utf-8"
              },
              "body": "<!DOCTYPE html><html><head><meta charset='UTF-8'><title>Already Processed</title><meta http-equiv='refresh' content='3;url=https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests'><style>body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:700px;margin:50px auto;padding:30px;background:#f5f5f5;text-align:center}.container{background:white;padding:40px;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.info{color:#0078d4;font-size:64px;margin-bottom:20px}h1{color:#0078d4}p{font-size:18px;color:#333}</style></head><body><div class='container'><div class='info'>ℹ️</div><h1>Already Processed</h1><p>This request has already been processed.</p><p style='color:#666;margin-top:30px;font-size:14px'>Redirecting in 3 seconds...</p></div></body></html>"
            }
          }
        },
        "runAfter": {
          "Get_SharePoint_Item": [
            "Succeeded"
          ]
        },
        "else": {
          "actions": {
            "Check_Action_Type": {
              "actions": {
                "Update_Status_To_Approved": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "patch",
                    "body": {
                      "Status": {
                        "Value": "Approved"
                      },
                      "Approved_x0020_By": "@triggerOutputs()['queries']?['approverName']",
                      "Approved_x0020_Date": "@utcNow()"
                    },
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                  }
                },
                "Response_Accepted": {
                  "runAfter": {
                    "Update_Status_To_Approved": [
                      "Succeeded"
                    ]
                  },
                  "type": "Response",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "text/html; charset=utf-8"
                    },
                    "body": "<!DOCTYPE html><html><head><meta charset='UTF-8'><title>Request Approved</title><meta http-equiv='refresh' content='5;url=https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests'><style>body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:700px;margin:50px auto;padding:30px;background:#f5f5f5;text-align:center}.container{background:white;padding:40px;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.success{color:#28a745;font-size:64px;margin-bottom:20px}h1{color:#28a745}p{font-size:18px;color:#333}.spinner{border:8px solid #f3f3f3;border-top:8px solid #28a745;border-radius:50%;width:60px;height:60px;animation:spin 1s linear infinite;margin:30px auto}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}</style></head><body><div class='container'><div class='success'>✅</div><h1>Request Approved!</h1><p>Network provisioning has started.</p><div class='spinner'></div><p style='color:#666;margin-top:30px;font-size:14px'>Redirecting in 5 seconds...</p></div></body></html>"
                  }
                },
                "Refresh_Item": {
                  "runAfter": {
                    "Response_Accepted": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                  }
                },
                "Get_IP_Pool": {
                  "runAfter": {
                    "Refresh_Item": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('b864f5bd-6b72-4520-add6-6ed56c7f4782'))}/items"
                  }
                },
                "Filter_Available_IPs": {
                  "runAfter": {
                    "Get_IP_Pool": [
                      "Succeeded"
                    ]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Get_IP_Pool')?['value']",
                    "where": "@equals(item()?['Status']?['Value'], 'Available')"
                  }
                },
                "Check_IP_Available": {
                  "actions": {
                    "Mark_IP_In_Use": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "body": {
                          "Status": {
                            "Value": "In Use"
                          },
                          "VNetName": "lebara-@{toLower(body('Refresh_Item')?['EnvironmentType']?['Value'])}-@{toLower(body('Refresh_Item')?['Title'])}-vnet"
                        },
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('b864f5bd-6b72-4520-add6-6ed56c7f4782'))}/items/@{encodeURIComponent(first(body('Filter_Available_IPs'))?['ID'])}"
                      }
                    },
                    "Update_Request_Ready_For_Deployment": {
                      "runAfter": {
                        "Mark_IP_In_Use": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "body": {
                          "Deployment_x0020_Status": {
                            "Value": "Ready for Deployment"
                          },
                          "Allocated_x0020_IP_x0020_Address": "@first(body('Filter_Available_IPs'))?['Title']",
                          "VNet_x0020_Name": "lebara-@{toLower(body('Refresh_Item')?['EnvironmentType']?['Value'])}-@{toLower(body('Refresh_Item')?['Title'])}-vnet"
                        },
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_Available_IPs": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter_Available_IPs'))",
                          0
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "else": {
                "actions": {
                  "Update_Status_To_Rejected": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                      },
                      "method": "patch",
                      "body": {
                        "Status": {
                          "Value": "Rejected"
                        },
                        "Approved_x0020_By": "@triggerOutputs()['queries']?['approverName']",
                        "Approved_x0020_Date": "@utcNow()"
                      },
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerOutputs()['queries']?['itemId'])}"
                    }
                  },
                  "Response_Rejected": {
                    "runAfter": {
                      "Update_Status_To_Rejected": [
                        "Succeeded"
                      ]
                    },
                    "type": "Response",
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "Content-Type": "text/html; charset=utf-8"
                      },
                      "body": "<!DOCTYPE html><html><head><meta charset='UTF-8'><title>Request Rejected</title><meta http-equiv='refresh' content='3;url=https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests'><style>body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:700px;margin:50px auto;padding:30px;background:#f5f5f5;text-align:center}.container{background:white;padding:40px;border-radius:8px;box-shadow:0 2px 10px rgba(0,0,0,0.1)}.error{color:#dc3545;font-size:64px}h1{color:#dc3545}p{font-size:18px;color:#333}</style></head><body><div class='container'><div class='error'>❌</div><h1>Request Rejected</h1><p>The request has been rejected.</p><p style='color:#666;margin-top:30px;font-size:14px'>Redirecting in 3 seconds...</p></div></body></html>"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()['queries']?['action']",
                  "approve"
                ]
              },
              "type": "If"
            }
          }
        },
        "expression": {
          "not": {
            "equals": [
              "@body('Get_SharePoint_Item')?['Status']?['Value']",
              "Pending Approval"
            ]
          }
        },
        "type": "If"
      }
    },
    "outputs": {}
  },
  "Parameters": {
    "$connections": {
      "Type": "Object",
      "Value": {
        "sharepointonline": {
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline",
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "connectionProperties": {}
        },
        "office365": {
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/office365",
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "connectionProperties": {}
        }
      },
      "Metadata": null,
      "Description": null
    }
  },
  "Id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-environment-request-response",
  "Name": "la-d365-environment-request-response",
  "Type": "Microsoft.Logic/workflows",
  "Location": "northeurope",
  "Tags": {
    " Owner": "IT",
    " Purpose": "Azure Infra"
  }
}
