la-d365-deprovision-detector.json
{
  "accessEndpoint": "https://prod-55.northeurope.logic.azure.com:443/workflows/3f53a1b21bfb401e9b6de10b580fc210",
  "changedTime": "2025-11-25T14:57:58.0638088Z",
  "createdTime": "2025-11-19T18:13:25.2438829Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "For_Each_Environment": {
        "actions": {
          "Check_If_Has_VNet_and_RG": {
            "actions": {
              "Check_If_VNet_Exists": {
                "inputs": {
                  "authentication": {
                    "audience": "https://management.azure.com",
                    "type": "ManagedServiceIdentity"
                  },
                  "method": "GET",
                  "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-d365-networking/providers/Microsoft.Network/virtualNetworks/@{items('For_Each_Environment')?['VNet_x0020_Name']}?api-version=2024-01-01"
                },
                "type": "Http"
              },
              "Check_VNet_Exists_Response": {
                "actions": {
                  "Check_If_Resource_Group_Exists": {
                    "inputs": {
                      "authentication": {
                        "audience": "https://management.azure.com",
                        "type": "ManagedServiceIdentity"
                      },
                      "method": "GET",
                      "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']}?api-version=2021-04-01"
                    },
                    "type": "Http"
                  },
                  "Check_RG_Response": {
                    "actions": {},
                    "else": {
                      "actions": {
                        "Call_Deprovision_Execute_Logic_App": {
                          "inputs": {
                            "method": "GET",
                            "uri": "https://prod-07.northeurope.logic.azure.com:443/workflows/0313ee73600a4ff097d780019fe47195/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Vk-FBRBv2zCaz3c-HoGzuZLFQ-uFyXZDFYQ3ORB8PBQ&autodetect=true&itemId=@{items('For_Each_Environment')?['ID']}"
                          },
                          "runAfter": {
                            "Send_Deprovisioning_Detected_Email": [
                              "Succeeded"
                            ]
                          },
                          "type": "Http"
                        },
                        "Send_Deprovisioning_Detected_Email": {
                          "inputs": {
                            "authentication": {
                              "audience": "https://graph.microsoft.com",
                              "type": "ManagedServiceIdentity"
                            },
                            "body": {
                              "message": {
                                "body": {
                                  "content": "<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\"><p>Hi @{items('For_Each_Environment')?['Author']?['DisplayName']},</p><p>Resource group deletion has been detected for your <strong>@{items('For_Each_Environment')?['Title']}</strong> environment.</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4; margin-top: 20px;\">Environment Details</h3><table style=\"width: 100%; border-collapse: collapse;\"><tr><td style=\"padding: 8px 0; font-weight: 600; width: 40%;\">Project Name:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['Title']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Resource Group:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']}</td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">VM Name:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['VM_x0020_Name']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Virtual Network:</td><td style=\"padding: 8px 0;\">@{items('For_Each_Environment')?['VNet_x0020_Name']}</td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">Detection Time:</td><td style=\"padding: 8px 0;\">@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')} UTC</td></tr></table><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Automatic Cleanup in Progress</h3><div style=\"background-color: #e7f3ff; border-left: 4px solid #0078d4; padding: 15px; margin: 20px 0; border-radius: 4px;\"><p style=\"margin: 0; color: #004085;\">The following resources will be automatically cleaned up:</p><ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #004085;\"><li>Virtual Network peerings (spoke-to-hub and hub-to-spoke)</li><li>Virtual Network (@{items('For_Each_Environment')?['VNet_x0020_Name']})</li><li>Network Security Group</li><li>IP address will be returned to the pool</li></ul></div><p>This process typically takes 5-10 minutes. You will receive a confirmation email once all networking resources have been successfully removed.</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Quick Links</h3><ul style=\"list-style: none; padding: 0;\"><li style=\"padding: 5px 0;\"><a href=\"https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests/DispForm.aspx?ID=@{items('For_Each_Environment')?['ID']}\" style=\"color: #0078d4; text-decoration: none;\"> View Request in SharePoint</a></li><li style=\"padding: 5px 0;\"><a href=\"https://portal.azure.com/#@lebara.com/resource/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-d365-networking/overview\" style=\"color: #0078d4; text-decoration: none;\"> View Shared Networking Resource Group</a></li></ul><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><p style=\"color: #666; font-size: 13px;\">If you have any questions or did not initiate this deletion, please contact the Infrastructure Team immediately: <a href=\"mailto:infrastructure@lebara.com\" style=\"color: #0078d4; text-decoration: none;\">infrastructure@lebara.com</a></p><p style=\"color: #666; font-size: 13px; margin-top: 30px;\"><strong>Infrastructure Automation</strong></p></div>",
                                  "contentType": "HTML"
                                },
                                "from": {
                                  "emailAddress": {
                                    "address": "infra.automation@lebara.com",
                                    "name": "Infrastructure Automation"
                                  }
                                },
                                "subject": " Cleanup Started: @{items('For_Each_Environment')?['Title']}",
                                "toRecipients": [
                                  {
                                    "emailAddress": {
                                      "address": "@{items('For_Each_Environment')?['Author']?['Email']}"
                                    }
                                  }
                                ]
                              },
                              "saveToSentItems": false
                            },
                            "method": "POST",
                            "uri": "https://graph.microsoft.com/v1.0/users/infra.automation@lebara.com/sendMail"
                          },
                          "runAfter": {
                            "Update_Status_To_Deprovisioning": [
                              "Succeeded"
                            ]
                          },
                          "type": "Http"
                        },
                        "Update_Status_To_Deprovisioning": {
                          "inputs": {
                            "body": {
                              "BusinessJustification": "@item()?['BusinessJustification']",
                              "Status": {
                                "Value": "Deprovisioning in Progress"
                              },
                              "Title": "@item()?['Title']"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                              }
                            },
                            "method": "patch",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(items('For_Each_Environment')?['ID'])}"
                          },
                          "type": "ApiConnection"
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@outputs('Check_If_Resource_Group_Exists')['statusCode']",
                            200
                          ]
                        }
                      ]
                    },
                    "runAfter": {
                      "Check_If_Resource_Group_Exists": [
                        "Succeeded",
                        "Failed"
                      ]
                    },
                    "type": "If"
                  }
                },
                "else": {
                  "actions": {}
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@outputs('Check_If_VNet_Exists')['statusCode']",
                        200
                      ]
                    }
                  ]
                },
                "runAfter": {
                  "Check_If_VNet_Exists": [
                    "Succeeded",
                    "Failed"
                  ]
                },
                "type": "If"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "and": [
                {
                  "or": [
                    {
                      "equals": [
                        "@items('For_Each_Environment')?['Status']?['Value']",
                        "Provisioned"
                      ]
                    },
                    {
                      "equals": [
                        "@items('For_Each_Environment')?['Status']?['Value']",
                        "Provisioned - Deploy in LCS"
                      ]
                    }
                  ]
                },
                {
                  "not": {
                    "equals": [
                      "@items('For_Each_Environment')?['VNet_x0020_Name']",
                      "@null"
                    ]
                  }
                },
                {
                  "not": {
                    "equals": [
                      "@items('For_Each_Environment')?['VNet_x0020_Name']",
                      ""
                    ]
                  }
                },
                {
                  "not": {
                    "equals": [
                      "@items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']",
                      "@null"
                    ]
                  }
                },
                {
                  "not": {
                    "equals": [
                      "@items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']",
                      ""
                    ]
                  }
                }
              ]
            },
            "type": "If"
          }
        },
        "foreach": "@body('Get_All_Provisioned_Environments')?['value']",
        "runAfter": {
          "Get_All_Provisioned_Environments": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 1
          }
        },
        "type": "Foreach"
      },
      "Get_All_Provisioned_Environments": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items"
        },
        "runAfter": {},
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence_Check_Every_5_Minutes": {
        "evaluatedRecurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 5
        },
        "type": "Recurrence"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.178.150.68"
        },
        {
          "address": "94.245.91.93"
        },
        {
          "address": "13.69.227.208/28"
        },
        {
          "address": "13.69.231.192/27"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.82.246.112/28"
        },
        {
          "address": "52.146.138.32/27"
        },
        {
          "address": "20.82.226.52"
        },
        {
          "address": "20.82.224.59"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.93.81.75"
        },
        {
          "address": "20.82.159.224"
        },
        {
          "address": "20.82.226.163"
        },
        {
          "address": "20.82.225.129"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "40.67.252.16"
        },
        {
          "address": "4.207.0.242"
        },
        {
          "address": "4.207.204.28"
        },
        {
          "address": "4.207.203.201"
        },
        {
          "address": "20.67.143.247"
        },
        {
          "address": "20.67.138.43"
        },
        {
          "address": "68.219.40.237"
        },
        {
          "address": "20.105.14.98"
        },
        {
          "address": "4.207.203.15"
        },
        {
          "address": "4.207.204.121"
        },
        {
          "address": "4.207.201.247"
        },
        {
          "address": "20.107.145.46"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "40.127.240.183"
        },
        {
          "address": "51.138.227.160"
        },
        {
          "address": "40.127.144.121"
        },
        {
          "address": "40.67.251.175"
        },
        {
          "address": "40.67.250.247"
        },
        {
          "address": "4.207.0.229"
        },
        {
          "address": "4.207.0.197"
        },
        {
          "address": "4.207.204.8"
        },
        {
          "address": "4.207.203.217"
        },
        {
          "address": "4.207.203.190"
        },
        {
          "address": "4.207.203.59"
        },
        {
          "address": "20.67.141.244"
        },
        {
          "address": "20.67.139.133"
        },
        {
          "address": "20.67.137.144"
        },
        {
          "address": "20.67.136.162"
        },
        {
          "address": "68.219.40.225"
        },
        {
          "address": "68.219.40.39"
        },
        {
          "address": "20.105.12.63"
        },
        {
          "address": "20.105.11.53"
        },
        {
          "address": "4.207.202.106"
        },
        {
          "address": "4.207.202.95"
        },
        {
          "address": "4.207.204.91"
        },
        {
          "address": "4.207.204.89"
        },
        {
          "address": "4.207.201.234"
        },
        {
          "address": "20.105.15.225"
        },
        {
          "address": "20.67.191.232"
        },
        {
          "address": "20.67.190.37"
        }
      ]
    }
  },
  "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-deprovision-detector",
  "identity": {
    "principalId": "1db4979d-2f39-4e45-a6a4-19bdade9da0f",
    "tenantId": "d7093539-83cd-4991-b1b3-aacef74cf097",
    "type": "SystemAssigned"
  },
  "location": "northeurope",
  "name": "la-d365-deprovision-detector",
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "sharepointonline": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-lebara-automation",
  "state": "Enabled",
  "tags": {
    " Owner": "IT",
    " Purpose": "Azure Infra"
  },
  "type": "Microsoft.Logic/workflows",
  "version": "08584375242074294252"
}
