la-d365-connection-script-generator.json
{
  "accessEndpoint": "https://prod-36.northeurope.logic.azure.com:443/workflows/f37bd269b7f842488ed6da978e8c62e6",
  "changedTime": "2025-11-21T16:29:03.3460173Z",
  "createdTime": "2025-10-29T13:56:26.2638927Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "For_Each_Environment": {
        "actions": {
          "Check_If_Within_48_Hours": {
            "actions": {
              "Check_if_VMs_Found": {
                "actions": {
                  "Create_Script_File_in_SharePoint": {
                    "inputs": {
                      "body": "@outputs('Generate_Script_Content')",
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/files",
                      "queries": {
                        "folderPath": "@{concat('/Shared Documents/', toUpper(items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']))}",
                        "name": "@{concat('Connect-to-', if(empty(items('For_Each_Environment')?['EnvironmentType']?['Value']), 'UNKNOWN', toUpper(items('For_Each_Environment')?['EnvironmentType']?['Value'])), '-', outputs('Set_VM_Details')?['vmName'], '.bat')}",
                        "queryParametersSingleEncoded": true
                      }
                    },
                    "runAfter": {
                      "Generate_Script_Content": [
                        "Succeeded"
                      ]
                    },
                    "runtimeConfiguration": {
                      "contentTransfer": {
                        "transferMode": "Chunked"
                      }
                    },
                    "type": "ApiConnection"
                  },
                  "Generate_Script_Content": {
                    "inputs": "@concat('@echo off\r\nsetlocal\r\n\r\n:: ============================================\r\n:: Bastion RDP Connection Script\r\n:: VM: ', outputs('Set_VM_Details')?['vmName'], '\r\n:: Resource Group: ', items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name'], '\r\n:: Generated on: ', utcNow('MM/dd/yyyy HH:mm:ss'), '\r\n:: ============================================\r\n\r\necho.\r\necho ========================================\r\necho Bastion RDP Connection Helper\r\necho VM: ', outputs('Set_VM_Details')?['vmName'], '\r\necho ========================================\r\necho.\r\n\r\necho [Step 1/4] Checking Azure CLI installation...\r\nwhere az >nul 2>&1\r\nif errorlevel 1 (\r\n    echo [ERROR] Azure CLI not found!\r\n    echo.\r\n    echo Please install Azure CLI from: https://aka.ms/installazurecliwindows\r\n    echo Then, restart your terminal and run this script again.\r\n    echo.\r\n    pause\r\n    exit /b 1\r\n)\r\necho [SUCCESS] Azure CLI is installed.\r\necho.\r\n\r\necho [Step 2/4] Checking Azure login status...\r\ncall az account show >nul 2>&1\r\nif errorlevel 1 (\r\n    echo [WARNING] You may not be logged in to Azure.\r\n    echo [INFO] Attempting to log you in now...\r\n    echo [INFO] After login, the script will automatically select ERP Tier 1 Environment.\r\n    call az login\r\n    if errorlevel 1 (\r\n        echo [ERROR] Azure login failed. Please try running ''az login'' manually.\r\n        pause\r\n        exit /b 1\r\n    )\r\n)\r\necho [SUCCESS] Logged in to Azure.\r\necho.\r\n\r\necho [Step 3/4] Setting subscription and checking Bastion extension...\r\ncall az account set --subscription \"8cc0a954-47fb-4878-a768-e195dbd036b7\" >nul 2>&1\r\nif errorlevel 1 (\r\n    echo [ERROR] Failed to set subscription to ERP Tier 1 Environment.\r\n    pause\r\n    exit /b 1\r\n)\r\necho [SUCCESS] Subscription set to ERP Tier 1 Environment.\r\necho.\r\ncall az extension show --name bastion >nul 2>&1\r\nif errorlevel 1 (\r\n    echo [INFO] Bastion extension not found. Installing now...\r\n    call az extension add --name bastion --yes\r\n    if errorlevel 1 (\r\n        echo [ERROR] Failed to install the Bastion extension.\r\n        pause\r\n        exit /b 1\r\n    )\r\n    echo [SUCCESS] Bastion extension installed!\r\n) else (\r\n    echo [SUCCESS] Bastion extension is already installed.\r\n)\r\necho.\r\n\r\necho [Step 4/4] Connecting to VM via Bastion...\r\necho [INFO] This will open a Remote Desktop connection prompt.\r\necho.\r\n\r\ncall az network bastion rdp --name \"bastion-lebara-security-hub\" --resource-group \"rg-lebara-security-hub-northeurope\" --target-resource-id \"', outputs('Set_VM_Details')?['vmResourceId'], '\"\r\n\r\nif errorlevel 1 (\r\n    echo.\r\n    echo [ERROR] Failed to connect to VM via Bastion.\r\n    pause\r\n    exit /b 1\r\n)\r\n\r\necho.\r\necho [SUCCESS] RDP session ended.\r\necho.\r\npause')",
                    "runAfter": {
                      "Set_VM_Details": [
                        "Succeeded"
                      ]
                    },
                    "type": "Compose"
                  },
                  "Send_Script_Ready_Email": {
                    "inputs": {
                      "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "type": "ManagedServiceIdentity"
                      },
                      "body": {
                        "message": {
                          "body": {
                            "content": "<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\"><p>Hi @{items('For_Each_Environment')?['Author']?['DisplayName']},</p><p>Your secure RDP connection script for <strong>@{items('For_Each_Environment')?['Title']}</strong> is ready!</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4; margin-top: 20px;\">Download Your Connection Script</h3><div style=\"background-color: #e7f3ff; border-left: 4px solid #0078d4; padding: 15px; margin: 20px 0; border-radius: 4px;\"><p style=\"margin: 0 0 10px 0; color: #004085;\"><strong>Script Location:</strong></p><p style=\"margin: 0; color: #004085;\"><a href=\"@{concat('https://lebara.sharepoint.com/sites/ERPConnectionsHub', body('Create_Script_File_in_SharePoint')?['Path'])}\" style=\"color: #0078d4; text-decoration: none; font-weight: 600;\"> Download Connection Script</a></p></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">How to Use</h3><ol style=\"line-height: 1.8; padding-left: 20px;\"><li>Click the download link above to get your script</li><li>Save it to your computer</li><li>Double-click the .bat file to run it</li><li>Follow the on-screen prompts to connect</li></ol><div style=\"background-color: #e7f3ff; border-left: 4px solid #0078d4; padding: 15px; margin: 20px 0; border-radius: 4px;\"><strong style=\"color: #004085;\">Connection Details:</strong><ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #004085;\"><li>VM Name: @{outputs('Set_VM_Details')?['vmName']}</li><li>Resource Group: @{items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']}</li><li>Connection Method: Secure Azure Bastion</li></ul></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 4px;\"><strong style=\"color: #856404;\">Security Note:</strong><p style=\"margin: 10px 0 0 0; color: #856404;\">This script uses Azure Bastion for secure connectivity. Do not attempt direct RDP connections as they are blocked by NSG rules.</p></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Quick Links</h3><ul style=\"list-style: none; padding: 0;\"><li style=\"padding: 5px 0;\"><a href=\"https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests/DispForm.aspx?ID=@{items('For_Each_Environment')?['ID']}\" style=\"color: #0078d4; text-decoration: none;\"> View Request in SharePoint</a></li><li style=\"padding: 5px 0;\"><a href=\"https://portal.azure.com/#@lebara.com/resource/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']}/overview\" style=\"color: #0078d4; text-decoration: none;\"> View Resource Group in Azure Portal</a></li></ul><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><p style=\"color: #666; font-size: 13px;\">Need assistance? Contact the Infrastructure Team: <a href=\"mailto:infrastructure@lebara.com\" style=\"color: #0078d4; text-decoration: none;\">infrastructure@lebara.com</a></p><p style=\"color: #666; font-size: 13px; margin-top: 30px;\"><strong>Infrastructure Automation</strong></p></div>",
                            "contentType": "HTML"
                          },
                          "from": {
                            "emailAddress": {
                              "address": "infra.automation@lebara.com",
                              "name": "Infrastructure Automation"
                            }
                          },
                          "importance": "normal",
                          "subject": " Your D365 Connection Script is Ready: @{items('For_Each_Environment')?['Title']}",
                          "toRecipients": [
                            {
                              "emailAddress": {
                                "address": "@items('For_Each_Environment')?['Author']?['Email']"
                              }
                            }
                          ]
                        },
                        "saveToSentItems": false
                      },
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "method": "POST",
                      "uri": "https://graph.microsoft.com/v1.0/users/infra.automation@lebara.com/sendMail"
                    },
                    "runAfter": {
                      "Update_SharePoint_Item": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http"
                  },
                  "Set_VM_Details": {
                    "inputs": {
                      "vmName": "@body('Parse_VM_Response')?['value'][0]['name']",
                      "vmResourceId": "@body('Parse_VM_Response')?['value'][0]['id']"
                    },
                    "type": "Compose"
                  },
                  "Update_SharePoint_Item": {
                    "inputs": {
                      "body": {
                        "BusinessJustification": "@items('For_Each_Environment')?['BusinessJustification']",
                        "Connection_x0020_Script": "@{concat('https://lebara.sharepoint.com/sites/ERPConnectionsHub', body('Create_Script_File_in_SharePoint')?['Path'])}",
                        "Title": "@items('For_Each_Environment')?['Title']",
                        "VM_x0020_Name": "@{outputs('Set_VM_Details')?['vmName']}"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                      },
                      "method": "patch",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('Environment Requests'))}/items/@{encodeURIComponent(items('For_Each_Environment')?['ID'])}"
                    },
                    "runAfter": {
                      "Create_Script_File_in_SharePoint": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection"
                  }
                },
                "else": {
                  "actions": {}
                },
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(body('Parse_VM_Response')?['value'])",
                        0
                      ]
                    }
                  ]
                },
                "runAfter": {
                  "Parse_VM_Response": [
                    "Succeeded"
                  ]
                },
                "type": "If"
              },
              "Get_VMs_in_Resource_Group": {
                "inputs": {
                  "authentication": {
                    "audience": "https://management.azure.com",
                    "type": "ManagedServiceIdentity"
                  },
                  "method": "GET",
                  "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{items('For_Each_Environment')?['Resource_x0020_Group_x0020_Name']}/providers/Microsoft.Compute/virtualMachines?api-version=2024-11-01"
                },
                "type": "Http"
              },
              "Parse_VM_Response": {
                "inputs": {
                  "content": "@body('Get_VMs_in_Resource_Group')",
                  "schema": {
                    "properties": {
                      "value": {
                        "items": {
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "location": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  }
                },
                "runAfter": {
                  "Get_VMs_in_Resource_Group": [
                    "Succeeded"
                  ]
                },
                "type": "ParseJson"
              }
            },
            "else": {
              "actions": {}
            },
            "expression": {
              "and": [
                {
                  "greaterOrEquals": [
                    "@ticks(items('For_Each_Environment')?['Created'])",
                    "@ticks(addDays(utcNow(), -2))"
                  ]
                }
              ]
            },
            "type": "If"
          }
        },
        "foreach": "@body('Get_Items_Needing_Scripts')?['value']",
        "runAfter": {
          "Get_Items_Needing_Scripts": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 1
          }
        },
        "type": "Foreach"
      },
      "Get_Items_Needing_Scripts": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items",
          "queries": {
            "$filter": "Connection_x0020_Script eq null and Resource_x0020_Group_x0020_Name ne null"
          }
        },
        "runAfter": {},
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence_-_Check_Every_15_Minutes": {
        "evaluatedRecurrence": {
          "frequency": "Minute",
          "interval": 15
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 15
        },
        "type": "Recurrence"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.178.150.68"
        },
        {
          "address": "94.245.91.93"
        },
        {
          "address": "13.69.227.208/28"
        },
        {
          "address": "13.69.231.192/27"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.82.246.112/28"
        },
        {
          "address": "52.146.138.32/27"
        },
        {
          "address": "20.82.226.52"
        },
        {
          "address": "20.82.224.59"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.93.81.75"
        },
        {
          "address": "20.82.159.224"
        },
        {
          "address": "20.82.226.163"
        },
        {
          "address": "20.82.225.129"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "40.67.252.16"
        },
        {
          "address": "4.207.0.242"
        },
        {
          "address": "4.207.204.28"
        },
        {
          "address": "4.207.203.201"
        },
        {
          "address": "20.67.143.247"
        },
        {
          "address": "20.67.138.43"
        },
        {
          "address": "68.219.40.237"
        },
        {
          "address": "20.105.14.98"
        },
        {
          "address": "4.207.203.15"
        },
        {
          "address": "4.207.204.121"
        },
        {
          "address": "4.207.201.247"
        },
        {
          "address": "20.107.145.46"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "40.127.240.183"
        },
        {
          "address": "51.138.227.160"
        },
        {
          "address": "40.127.144.121"
        },
        {
          "address": "40.67.251.175"
        },
        {
          "address": "40.67.250.247"
        },
        {
          "address": "4.207.0.229"
        },
        {
          "address": "4.207.0.197"
        },
        {
          "address": "4.207.204.8"
        },
        {
          "address": "4.207.203.217"
        },
        {
          "address": "4.207.203.190"
        },
        {
          "address": "4.207.203.59"
        },
        {
          "address": "20.67.141.244"
        },
        {
          "address": "20.67.139.133"
        },
        {
          "address": "20.67.137.144"
        },
        {
          "address": "20.67.136.162"
        },
        {
          "address": "68.219.40.225"
        },
        {
          "address": "68.219.40.39"
        },
        {
          "address": "20.105.12.63"
        },
        {
          "address": "20.105.11.53"
        },
        {
          "address": "4.207.202.106"
        },
        {
          "address": "4.207.202.95"
        },
        {
          "address": "4.207.204.91"
        },
        {
          "address": "4.207.204.89"
        },
        {
          "address": "4.207.201.234"
        },
        {
          "address": "20.105.15.225"
        },
        {
          "address": "20.67.191.232"
        },
        {
          "address": "20.67.190.37"
        }
      ]
    }
  },
  "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-connection-script-generator",
  "identity": {
    "principalId": "15945cc1-7d70-4a0b-b981-933a2064de73",
    "tenantId": "d7093539-83cd-4991-b1b3-aacef74cf097",
    "type": "SystemAssigned"
  },
  "location": "northeurope",
  "name": "la-d365-connection-script-generator",
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "office365": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-lebara-automation",
  "state": "Enabled",
  "type": "Microsoft.Logic/workflows",
  "version": "08584378643421438269"
}
