la-d365-environment-hardening.json
{
  "accessEndpoint": "https://prod-34.northeurope.logic.azure.com:443/workflows/0a19273d861d4c55b614bded2a0e3fe7",
  "changedTime": "2025-11-24T10:09:56.8745268Z",
  "createdTime": "2025-11-18T15:34:10.1688061Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Call_Connection_Script_Generator": {
        "inputs": {
          "body": {
            "environmentId": "@triggerBody()?['environmentId']"
          },
          "method": "POST",
          "uri": "https://prod-36.northeurope.logic.azure.com:443/workflows/f37bd269b7f842488ed6da978e8c62e6/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=fHjGkWVwCWqvAA9LIkl94p2M-xfABU0lAc6XrIRYL8A"
        },
        "runAfter": {
          "Send_Hardening_Complete_Email": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "Call_VM_Hardening_Runbook": {
        "inputs": {
          "authentication": {
            "audience": "https://management.azure.com",
            "type": "ManagedServiceIdentity"
          },
          "body": {
            "properties": {
              "parameters": {
                "environmentType": "Dev",
                "location": "northeurope",
                "resourceGroupName": "@{triggerBody()?['resourceGroupName']}",
                "vmName": "@{triggerBody()?['vmName']}"
              },
              "runbook": {
                "name": "Harden-D365-VM"
              }
            }
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "method": "POST",
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Automation/automationAccounts/aa-lebara-automation/jobs/@{guid()}?api-version=2023-11-01"
        },
        "runAfter": {
          "Check_If_Public_IP_Exists": [
            "Succeeded",
            "Skipped"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "Http"
      },
      "Check_If_Public_IP_Exists": {
        "actions": {
          "For_Each_Public_IP": {
            "actions": {
              "Check_If_Attached": {
                "actions": {
                  "Detach_Public_IP": {
                    "inputs": {
                      "authentication": {
                        "audience": "https://management.azure.com",
                        "type": "ManagedServiceIdentity"
                      },
                      "method": "GET",
                      "uri": "https://management.azure.com@{body('Parse_PIP_Details')?['properties']?['ipConfiguration']?['id']}?api-version=2024-01-01"
                    },
                    "type": "Http"
                  },
                  "Parse_IP_Config": {
                    "inputs": {
                      "content": "@body('Detach_Public_IP')",
                      "schema": {
                        "type": "object"
                      }
                    },
                    "runAfter": {
                      "Detach_Public_IP": [
                        "Succeeded"
                      ]
                    },
                    "type": "ParseJson"
                  },
                  "Remove_Public_IP_From_Config": {
                    "inputs": {
                      "authentication": {
                        "audience": "https://management.azure.com",
                        "type": "ManagedServiceIdentity"
                      },
                      "body": "@setProperty(body('Parse_IP_Config'), 'properties', removeProperty(body('Parse_IP_Config')?['properties'], 'publicIPAddress'))",
                      "method": "PUT",
                      "uri": "https://management.azure.com@{body('Parse_PIP_Details')?['properties']?['ipConfiguration']?['id']}?api-version=2024-01-01"
                    },
                    "runAfter": {
                      "Parse_IP_Config": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http"
                  }
                },
                "else": {
                  "actions": {}
                },
                "expression": {
                  "and": [
                    {
                      "not": {
                        "equals": [
                          "@body('Parse_PIP_Details')?['properties']?['ipConfiguration']",
                          null
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {
                  "Parse_PIP_Details": [
                    "Succeeded"
                  ]
                },
                "type": "If"
              },
              "Delete_Public_IP": {
                "inputs": {
                  "authentication": {
                    "audience": "https://management.azure.com",
                    "type": "ManagedServiceIdentity"
                  },
                  "method": "DELETE",
                  "uri": "https://management.azure.com@{items('For_Each_Public_IP')?['id']}?api-version=2024-01-01"
                },
                "runAfter": {
                  "Check_If_Attached": [
                    "Succeeded",
                    "Skipped"
                  ]
                },
                "type": "Http"
              },
              "Get_Public_IP_Details": {
                "inputs": {
                  "authentication": {
                    "audience": "https://management.azure.com",
                    "type": "ManagedServiceIdentity"
                  },
                  "method": "GET",
                  "uri": "https://management.azure.com@{items('For_Each_Public_IP')?['id']}?api-version=2024-01-01"
                },
                "type": "Http"
              },
              "Log_PIP_Deletion": {
                "inputs": {
                  "name": "changesLog",
                  "value": "Deleted public IP: @{items('For_Each_Public_IP')?['name']}"
                },
                "runAfter": {
                  "Delete_Public_IP": [
                    "Succeeded"
                  ]
                },
                "type": "AppendToArrayVariable"
              },
              "Parse_PIP_Details": {
                "inputs": {
                  "content": "@body('Get_Public_IP_Details')",
                  "schema": {
                    "properties": {
                      "properties": {
                        "properties": {
                          "properties": {
                            "properties": {
                              "ipConfiguration": {
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  }
                },
                "runAfter": {
                  "Get_Public_IP_Details": [
                    "Succeeded"
                  ]
                },
                "type": "ParseJson"
              }
            },
            "foreach": "@body('Filter_Public_IPs')",
            "type": "Foreach"
          }
        },
        "else": {
          "actions": {}
        },
        "expression": {
          "and": [
            {
              "greater": [
                "@length(body('Filter_Public_IPs'))",
                0
              ]
            }
          ]
        },
        "runAfter": {
          "Initialize_Changes_Array": [
            "Succeeded"
          ]
        },
        "type": "If"
      },
      "Filter_Public_IPs": {
        "inputs": {
          "from": "@body('Parse_Resources')?['value']",
          "where": "@equals(item()?['type'], 'Microsoft.Network/publicIPAddresses')"
        },
        "runAfter": {
          "Parse_Resources": [
            "Succeeded"
          ]
        },
        "type": "Query"
      },
      "Get_SharePoint_Item": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "get",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerBody()?['environmentId'])}"
        },
        "runAfter": {},
        "type": "ApiConnection"
      },
      "Initialize_Changes_Array": {
        "inputs": {
          "variables": [
            {
              "name": "changesLog",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Filter_Public_IPs": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "List_Resources_in_RG": {
        "inputs": {
          "authentication": {
            "audience": "https://management.azure.com",
            "type": "ManagedServiceIdentity"
          },
          "method": "GET",
          "uri": "https://management.azure.com/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{triggerBody()?['resourceGroupName']}/resources?api-version=2021-04-01"
        },
        "runAfter": {
          "Wait_5_Minutes": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "Parse_Resources": {
        "inputs": {
          "content": "@body('List_Resources_in_RG')",
          "schema": {
            "properties": {
              "value": {
                "items": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "List_Resources_in_RG": [
            "Succeeded"
          ]
        },
        "type": "ParseJson"
      },
      "Response": {
        "inputs": {
          "body": {
            "changes": "@variables('changesLog')",
            "message": "Environment hardened successfully",
            "status": "success"
          },
          "statusCode": 200
        },
        "runAfter": {
          "Call_Connection_Script_Generator": [
            "Succeeded"
          ]
        },
        "type": "Response"
      },
      "Send_Hardening_Complete_Email": {
        "inputs": {
          "authentication": {
            "audience": "https://graph.microsoft.com",
            "type": "ManagedServiceIdentity"
          },
          "body": {
            "message": {
              "body": {
                "content": "<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; max-width: 600px; margin: 0 auto; color: #333;\"><p>Hi @{body('Get_SharePoint_Item')?['Author']?['DisplayName']},</p><p>Your <strong>@{triggerBody()?['environmentName']}</strong> environment is now fully secured and ready to use!</p><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4; margin-top: 20px;\">Environment Details</h3><table style=\"width: 100%; border-collapse: collapse;\"><tr><td style=\"padding: 8px 0; font-weight: 600; width: 40%;\">Project Name:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['environmentName']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Resource Group:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['resourceGroupName']}</td></tr><tr><td style=\"padding: 8px 0; font-weight: 600;\">VM Name:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['vmName']}</td></tr><tr style=\"background-color: #f5f5f5;\"><td style=\"padding: 8px 0; font-weight: 600;\">Virtual Network:</td><td style=\"padding: 8px 0;\">@{triggerBody()?['vnetName']}</td></tr></table><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Security Hardening Completed</h3><div style=\"background-color: #d4edda; border-left: 4px solid #28a745; padding: 15px; margin: 20px 0; border-radius: 4px;\"><p style=\"margin: 0 0 10px 0; color: #155724;\"><strong> Applied Security Measures:</strong></p><ul style=\"margin: 0; padding-left: 20px; color: #155724;\"><li>NSG rules hardened (restricted management ports)</li><li>Unnecessary public endpoints removed</li><li>Security baselines applied</li><li>Monitoring enabled</li></ul></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Next Steps</h3><p>Your RDP connection script has been generated and will be sent to you shortly in a separate email.</p><div style=\"background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 4px;\"><strong style=\"color: #856404;\">Important:</strong><p style=\"margin: 10px 0 0 0; color: #856404;\">Only use the provided connection script to access your environment. Direct RDP connections may fail due to security hardening.</p></div><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><h3 style=\"color: #0078d4;\">Quick Links</h3><ul style=\"list-style: none; padding: 0;\"><li style=\"padding: 5px 0;\"><a href=\"https://lebara.sharepoint.com/sites/ERPConnectionsHub/Lists/Environment%20Requests/DispForm.aspx?ID=@{triggerBody()?['environmentId']}\" style=\"color: #0078d4; text-decoration: none;\"> View Request in SharePoint</a></li><li style=\"padding: 5px 0;\"><a href=\"https://portal.azure.com/#@lebara.com/resource/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/@{triggerBody()?['resourceGroupName']}/overview\" style=\"color: #0078d4; text-decoration: none;\"> View Resource Group in Azure Portal</a></li></ul><hr style=\"border: none; border-top: 1px solid #e0e0e0; margin: 20px 0;\"><p style=\"color: #666; font-size: 13px;\">Need assistance? Contact the Infrastructure Team: <a href=\"mailto:infrastructure@lebara.com\" style=\"color: #0078d4; text-decoration: none;\">infrastructure@lebara.com</a></p><p style=\"color: #666; font-size: 13px; margin-top: 30px;\"><strong>Infrastructure Automation</strong></p></div>",
                "contentType": "HTML"
              },
              "from": {
                "emailAddress": {
                  "address": "infra.automation@lebara.com",
                  "name": "Infrastructure Automation"
                }
              },
              "subject": " Your Environment is Ready: @{triggerBody()?['environmentName']}",
              "toRecipients": [
                {
                  "emailAddress": {
                    "address": "@{body('Get_SharePoint_Item')?['Author']?['Email']}"
                  }
                }
              ]
            },
            "saveToSentItems": false
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "method": "POST",
          "uri": "https://graph.microsoft.com/v1.0/users/infra.automation@lebara.com/sendMail"
        },
        "runAfter": {
          "Update_SharePoint_Hardened": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "Update_SharePoint_Hardened": {
        "inputs": {
          "body": {
            "BusinessJustification": "@concat('Automated hardening for environment: ', triggerBody()?['environmentName'])",
            "Hardening_x0020_Completed_x0020_Date": "@utcNow()",
            "Hardening_x0020_Notes": "@{join(variables('changesLog'), '\n')}",
            "Title": "@triggerBody()?['environmentName']"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "patch",
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://lebara.sharepoint.com/sites/ERPConnectionsHub'))}/tables/@{encodeURIComponent(encodeURIComponent('194aeb23-75c2-47ec-88c7-90db9c468681'))}/items/@{encodeURIComponent(triggerBody()?['environmentId'])}"
        },
        "runAfter": {
          "Call_VM_Hardening_Runbook": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Wait_5_Minutes": {
        "inputs": {
          "interval": {
            "count": 5,
            "unit": "Minute"
          }
        },
        "runAfter": {
          "Get_SharePoint_Item": [
            "Succeeded"
          ]
        },
        "type": "Wait"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "adminEmail": {
        "defaultValue": "infrastructure@lebara.com",
        "type": "String"
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "businessJustification": {
                "type": "string"
              },
              "environmentId": {
                "type": "string"
              },
              "environmentName": {
                "type": "string"
              },
              "projectName": {
                "type": "string"
              },
              "resourceGroupName": {
                "type": "string"
              },
              "vmName": {
                "type": "string"
              },
              "vnetName": {
                "type": "string"
              }
            },
            "required": [
              "environmentId",
              "resourceGroupName",
              "vmName"
            ],
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "52.178.150.68"
        },
        {
          "address": "94.245.91.93"
        },
        {
          "address": "13.69.227.208/28"
        },
        {
          "address": "13.69.231.192/27"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.82.246.112/28"
        },
        {
          "address": "52.146.138.32/27"
        },
        {
          "address": "20.82.226.52"
        },
        {
          "address": "20.82.224.59"
        },
        {
          "address": "40.115.108.29"
        },
        {
          "address": "20.93.81.75"
        },
        {
          "address": "20.82.159.224"
        },
        {
          "address": "20.82.226.163"
        },
        {
          "address": "20.82.225.129"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "40.67.252.16"
        },
        {
          "address": "4.207.0.242"
        },
        {
          "address": "4.207.204.28"
        },
        {
          "address": "4.207.203.201"
        },
        {
          "address": "20.67.143.247"
        },
        {
          "address": "20.67.138.43"
        },
        {
          "address": "68.219.40.237"
        },
        {
          "address": "20.105.14.98"
        },
        {
          "address": "4.207.203.15"
        },
        {
          "address": "4.207.204.121"
        },
        {
          "address": "4.207.201.247"
        },
        {
          "address": "20.107.145.46"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "40.127.240.183"
        },
        {
          "address": "51.138.227.160"
        },
        {
          "address": "40.127.144.121"
        },
        {
          "address": "40.67.251.175"
        },
        {
          "address": "40.67.250.247"
        },
        {
          "address": "4.207.0.229"
        },
        {
          "address": "4.207.0.197"
        },
        {
          "address": "4.207.204.8"
        },
        {
          "address": "4.207.203.217"
        },
        {
          "address": "4.207.203.190"
        },
        {
          "address": "4.207.203.59"
        },
        {
          "address": "20.67.141.244"
        },
        {
          "address": "20.67.139.133"
        },
        {
          "address": "20.67.137.144"
        },
        {
          "address": "20.67.136.162"
        },
        {
          "address": "68.219.40.225"
        },
        {
          "address": "68.219.40.39"
        },
        {
          "address": "20.105.12.63"
        },
        {
          "address": "20.105.11.53"
        },
        {
          "address": "4.207.202.106"
        },
        {
          "address": "4.207.202.95"
        },
        {
          "address": "4.207.204.91"
        },
        {
          "address": "4.207.204.89"
        },
        {
          "address": "4.207.201.234"
        },
        {
          "address": "20.105.15.225"
        },
        {
          "address": "20.67.191.232"
        },
        {
          "address": "20.67.190.37"
        }
      ]
    }
  },
  "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Logic/workflows/la-d365-environment-hardening",
  "identity": {
    "principalId": "2188f613-f5ff-4a01-b598-16f4e6af9391",
    "tenantId": "d7093539-83cd-4991-b1b3-aacef74cf097",
    "type": "SystemAssigned"
  },
  "location": "northeurope",
  "name": "la-d365-environment-hardening",
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "office365": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/office365"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/resourceGroups/rg-lebara-automation/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline",
          "connectionProperties": {},
          "id": "/subscriptions/8cc0a954-47fb-4878-a768-e195dbd036b7/providers/Microsoft.Web/locations/northeurope/managedApis/sharepointonline"
        }
      }
    },
    "adminEmail": {
      "value": "infrastructure@lebara.com"
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-lebara-automation",
  "state": "Disabled",
  "type": "Microsoft.Logic/workflows",
  "version": "08584376278886140948"
}
